# Data Challenge 2024 - EY

## Data Cleaning

In [45]:
# Libraries
import os
import pandas as pd
import re
import numpy as np

In [46]:
# Get the file names in each folder

# Questionary A is for the undergrad students
file_names_undergrad = os.listdir('grad_and_undergrad/datasets/undergraduate')

# Questionary B is for the graduate students
file_names_grad = os.listdir('grad_and_undergrad/datasets/graduate')

# Questionary G is for the high school students
file_names_hs =  os.listdir('high_school/datasets')

### High School Students

**Notes:**
- Files 'F9117G_1920.csv', 'F9117G_2021.csv' and 'F9117G_2122.csv' are pipe separated.
- The file 'F9117G_2223.csv' is comma separated and needs latin encoding. 
- In files 'F9117G_1920.csv' and 'F9117G_2021.csv', some variables have no correspondence in the questionary. For instance: E3, E4, E19, E230, E258, E763, E766 and E769 (seems to be misspelled as there are no V3, V4, V19, V230, V258, V763, V766 and V769)
- In files  'F9117G_2122.csv' and 'F9117G_2223.csv', some variables have no correspondence in the questionary. For instance: E3, E4, E19, E763, E766, E769 (seems to be misspelled as there are no V3, V4, V19, V763, V766, V769)

In [47]:
# Initialize an empty list to store the dataframes
list_df_hs = []

# Iterate over the file names
for file in file_names_hs:
    # Read each file and add the year to a new column
    year = file.split("_")[1].split(".")[0]
    # The file for the year 22-23 is comma separated
    if year == '2223':
        df = pd.read_csv(os.path.join('high_school/datasets',file), sep=',', encoding='latin-1', low_memory=False)
        # Remove the last column 
        df = df.iloc[:, :-1]
    else:
        df = pd.read_csv(os.path.join('high_school/datasets', file), sep="|", low_memory=False)
    
    # Modify columns names for consitency
    for var in df.columns:
        if re.match(r'^E\d', var):
            new_name = re.sub(r'^E', 'V', var)
            df.rename(columns={var: new_name}, inplace=True)
    
    # New column for the academic year
    df['ACADEMIC_YEAR'] = '20'+ year[:2] + '-' '20' + year[2:]
            
    # Append the dataframe to the list
    list_df_hs.append(df)

In [48]:
# Check for variable consistency

# Create a dictionary to store the column names for each dataframe
df_names_hs = {}

for i in range(len(list_df_hs)):
    df_names_hs[file_names_hs[i]] = list(list_df_hs[i].columns)

# Create a list of unique variables 
variables_hs = set().union(*df_names_hs.values())

# Diffence between all variables and the variables in the dataframes
missing_vars_1920 = variables_hs.difference(df_names_hs['F9117G_1920.csv'])
missing_vars_2021 = variables_hs.difference(df_names_hs['F9117G_2021.csv'])
missing_vars_2122 = variables_hs.difference(df_names_hs['F9117G_2122.csv'])
missing_vars_2223 = variables_hs.difference(df_names_hs['F9117G_2223.csv'])

# Print the results
print(f"Missing variables in 2019-2020: {missing_vars_1920}")
print(f"Missing variables in 2020-2021: {missing_vars_2021}")
print(f"Missing variables in 2021-2022: {missing_vars_2122}")   
print(f"Missing variables in 2022-2023: {missing_vars_2223}")

Missing variables in 2019-2020: set()
Missing variables in 2020-2021: set()
Missing variables in 2021-2022: {'V257', 'V252', 'V952', 'V251', 'V311', 'V930', 'V726', 'V937', 'V966', 'V227', 'V932', 'V193', 'V216', 'V293', 'V967', 'V234', 'V221', 'V222', 'V918', 'V256', 'V914', 'V928', 'V230', 'V927', 'V213', 'V916', 'V971', 'V125', 'V926', 'V204', 'V236', 'V155', 'V198', 'V398', 'V233', 'V305', 'V347', 'V184', 'V173', 'SUBSISTEMA_2', 'V167', 'V119', 'V137', 'V190', 'V235', 'V71', 'V231', 'V377', 'V756', 'V179', 'V254', 'V247', 'V939', 'V201', 'V258', 'V942', 'V924', 'V107', 'V955', 'V228', 'V225', 'V750', 'V220', 'V89', 'V197', 'V199', 'V196', 'V275', 'V915', 'V200', 'V245', 'V917', 'V77', 'V239', 'V52', 'SUBSISTEMA_1', 'V341', 'V261', 'V260', 'FECHA_ENTREGA', 'V238', 'V391', 'V965', 'V241', 'V253', 'V956', 'V250', 'V732', 'V248', 'V31', 'V38', 'V210', 'V211', 'V161', 'V945', 'V237', 'V219', 'V244', 'V953', 'V951', 'V702', 'V948', 'V913', 'V208', 'V207', 'V186', 'V317', 'V149', 'V738', 'V259', 'V206', 'V923', 'V243', 'V969', 'V182', 'V335', 'V223', 'V95', 'V218', 'V188', 'V744', 'V202', 'V189', 'V949', 'V240', 'V131', 'V209', 'V224', 'V931', 'V113', 'V323', 'V242', 'V934', 'V232', 'V191', 'V944', 'V185', 'V187', 'V921', 'V938', 'V970', 'V946', 'V384', 'V269', 'V370', 'V920', 'V329', 'C_OBSERVACION', 'V299', 'V212', 'V226', 'V101', 'V229', 'V83', 'V205', 'V919', 'V203', 'V943', 'V215', 'V246', 'V287', 'SUBSISTEMA_3', 'V249', 'V192', 'V195', 'V922', 'V183', 'V45', 'V935', 'V957', 'V972', 'V947', 'V936', 'V968', 'V24', 'V954', 'V940', 'V714', 'V214', 'V708', 'V973', 'V929', 'V143', 'V194', 'V217', 'V950', 'V925', 'V720', 'V281', 'V696', 'V65', 'V255', 'V941', 'V933', 'V59'}
Missing variables in 2022-2023: {'C_OBSERVACION', 'FECHA_ENTREGA'}

**Addtional Notes:** 
- Files *F9117G_1920.csv* and *F9117G_2021.csv* have two additional rows: FECHA_ENTREGA and C_OBSERVACION (The last one, not reported as a column in 'Column names')
- In file 'F9117G_2122.csv' some variables are missing. For example: *V24*, *V32*, *V38*, etc.
- The file 'F9117G_2223.csv' have an extra unamed empty column (the last one).

In [49]:
# Complete dataset
high_school = pd.concat(list_df_hs)

### Undergraduate Students

**Notes:**
- Files 'KI9119A_1920.csv', 'KI9119A_2021.csv' and 'KI9119A_2122.csv' are pipe separated.
- The file 'KI9119A_2223.csv' is comma separated and needs latin encoding.

In [50]:
# Initialize an empty list to store the dataframes
list_df_undergrad = []

# Iterate over the file names
for file in file_names_undergrad:
    # Read each file and add the year to a new column
    year = file.split("_")[1].split(".")[0]
    # The file for the year 22-23 is comma separated
    if year == '2223':
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets/undergraduate', file), sep=',', encoding='latin-1', low_memory=False)
    else:
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets/undergraduate', file), sep="|", low_memory=False)

    # New column for the academic year
    df['ACADEMIC_YEAR'] = '20'+ year[:2] + '-' '20' + year[2:]

    # Append the dataframe to the list
    list_df_undergrad.append(df)

In [51]:
# Create a dictionary to store the column names for each dataframe
df_names_undergrad = {}

for i in range(len(list_df_undergrad)):
    df_names_undergrad[file_names_undergrad[i]] = list(list_df_undergrad[i].columns)

# Create a list of unique variables 
variables_undergrad = set().union(*df_names_undergrad.values())

# Diffence between all variables and the variables in the dataframes
missing_vars_1920 = variables_undergrad.difference(df_names_undergrad['KI9119A_1920.csv'])
missing_vars_2021 = variables_undergrad.difference(df_names_undergrad['KI9119A_2021.csv'])
missing_vars_2122 = variables_undergrad.difference(df_names_undergrad['KI9119A_2122.csv'])
missing_vars_2223 = variables_undergrad.difference(df_names_undergrad['KI9119A_2223.csv'])

# Print the missing variables
print(f"Missing variables in 2019-2020: {missing_vars_1920}")
print(f"Missing variables in 2020-2021: {missing_vars_2021}")
print(f"Missing variables in 2021-2022: {missing_vars_2122}")   
print(f"Missing variables in 2022-2023: {missing_vars_2223}")

Missing variables in 2019-2020: {'C_OBSERVACION', 'V734'}
Missing variables in 2020-2021: {'V734', 'F593'}
Missing variables in 2021-2022: {'V336', 'V734', 'V148', 'V311', 'V332', 'V335', 'V318', 'V330', 'V172', 'V313', 'V142', 'V320', 'SUBSISTEMA_3', 'V325', 'V166', 'V456', 'SUBSISTEMA_1', 'V341', 'V334', 'V323', 'V333', 'FECHA_ENTREGA', 'V24', 'V327', 'V316', 'V178', 'V160', 'V454', 'V328', 'V314', 'V457', 'V312', 'V331', 'V337', 'SUBSISTEMA_2', 'V319', 'V29', 'V315', 'V91', 'V324', 'V154', 'V455', 'F593', 'V329', 'C_OBSERVACION', 'V321', 'V317', 'V326', 'V86', 'V322'}
Missing variables in 2022-2023: {'V454', 'V455', 'F593', 'V457', 'V456', 'C_OBSERVACION', 'FECHA_ENTREGA', 'V2'}

**Additional Notes**
- The variable *F593* is only in file 'KI9119A_1920.csv'.
- The variable *C_OBSERVACION* is only in file 'KI9119A_2021.csv'.
- The variable *FECHA_ENTREGA* is only in files 'KI9119A_1920.csv' and 'KI9119A_2021.csv'.
- The file 'KI9119A_2122.csv' have multiple missing variables. For instance: *SUBSISTEMA_1*, *SUBSISTEMA_1*, *SUBSISTEMA_1*, etc.
- The variable *V734* is only in file 'KI9119A_2223.csv'.
- The file 'KI9119A_2223.csv' have multiple missing variables. For instance: *V2*, *V454*, *V455*, etc.

In [52]:
# Complete dataset
undergraduate = pd.concat(list_df_undergrad)

### Graduate Students

**Notes:**
- Files 'KI9119B_1920.csv', 'KI9119B_2021.csv' and 'KI9119B_2122.csv' are pipe separated.
- The file 'KI9119B_2223.csv' is comma separated and needs latin encoding.

In [53]:
# Initialize an empty list to store the dataframes
list_df_grad = []

# Iterate over the file names
for file in file_names_grad:
    # Read each file and add the year to a new column
    year = file.split("_")[1].split(".")[0]
    # The file for the year 22-23 is comma separated
    if year == '2223':
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets/graduate', file), sep=',', encoding='latin-1', low_memory=False)
    else:
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets/graduate', file), sep="|", low_memory=False)
   
    # New column for the academic year
    df['ACADEMIC_YEAR'] = '20'+ year[:2] + '-' '20' + year[2:]
    
    # Append the dataframe to the list
    list_df_grad.append(df)

In [54]:
# Create a dictionary to store the column names for each dataframe
df_names_grad = {}

for i in range(len(list_df_grad)):
    df_names_grad[file_names_grad[i]] = list(list_df_grad[i].columns)

# Create a list of unique variables 
variables_grad = set().union(*df_names_grad.values())

# Difference between all variables and the variables in the dataframes
missing_vars_1920 = variables_grad.difference(df_names_grad['KI9119B_1920.csv'])
missing_vars_2021 = variables_grad.difference(df_names_grad['KI9119B_2021.csv'])
missing_vars_2122 = variables_grad.difference(df_names_grad['KI9119B_2122.csv'])
missing_vars_2223 = variables_grad.difference(df_names_grad['KI9119B_2223.csv'])

# Print the missing variables
print(f"Missing variables in 2019-2020: {missing_vars_1920}")
print(f"Missing variables in 2020-2021: {missing_vars_2021}")
print(f"Missing variables in 2021-2022: {missing_vars_2122}")   
print(f"Missing variables in 2022-2023: {missing_vars_2223}")

Missing variables in 2019-2020: {'V276', 'C_OBSERVACION'}
Missing variables in 2020-2021: {'V276', 'F322'}
Missing variables in 2021-2022: {'V257', 'V171', 'V169', 'V197', 'F322', 'V182', 'V174', 'V163', 'V227', 'V172', 'V50', 'V202', 'SUBSISTEMA_3', 'V222', 'V192', 'V131', 'V157', 'V166', 'V183', 'SUBSISTEMA_1', 'V28', 'V170', 'V33', 'V113', 'V181', 'FECHA_ENTREGA', 'V242', 'V125', 'V276', 'V178', 'V159', 'V232', 'V160', 'V168', 'V187', 'V175', 'V270', 'V161', 'V271', 'V143', 'V173', 'SUBSISTEMA_2', 'V167', 'V217', 'V119', 'V137', 'V164', 'V176', 'V237', 'V165', 'V269', 'V177', 'C_OBSERVACION', 'V212', 'V179', 'V162', 'V207', 'V180', 'V42', 'V268', 'V158'}
Missing variables in 2022-2023: {'V270', 'V269', 'V271', 'FECHA_ENTREGA', 'V268', 'F322', 'C_OBSERVACION'}

**Aditional Notes**
- The variable *F322* is only in file 'KI9119B_1920.csv'.
- The variable *C_OBSERVACION* is only in file 'KI9119B_2021.csv'.
- The variable *FECHA_ENTREGA* is only in files 'KI9119B_1920.csv' and 'KI9119B_2021.csv'.
- The file 'KI9119B_2122.csv' have multiple missing variables. For instance: *SUBSISTEMA_1*, *SUBSISTEMA_1*, *SUBSISTEMA_1*, etc.
- The variable *V276* is only in file 'KI9119B_2223.csv'.
- The file 'KI9119B_2223.csv' have multiple missing variables. For instance: *V269*, *V270*, *V271*, etc.

In [55]:
# Complete dataset
graduate = pd.concat(list_df_grad)

## Exploratory Analysis

**Variable selection**

Institution ID: '14MMS0519C' for high school and '14MSU0044P' for undergraduate and graduate studies.

This selection was made based on the requirements of question 1.
 - High School: 'ACADEMIC_YEAR', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'C_MODALIDAD', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V49', 'V50', 'V51', 'V265', 'V268', 'V958', 'V959', 'V960', 'V968', 'V969', 'V397', 'V878', 'V879'.
 - Undergraduate: 'ACADEMIC_YEAR', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA','C_MODALIDAD', 'V1', 'V2', 'V3', 'V4', 'V11', 'V12', 'V13', 'V14', 'V15', 'V60', 'V61', 'V82', 'V85', 'V175', 'V176', 'V177', 'V454', 'V455', 'V456', 'V458', 'V495'
 - Graduate: 'ACADEMIC_YEAR', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA', 'C_MODALIDAD', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V38', 'V41', 'V140','V141', 'V142', 'V156', 'V268', 'V269', 'V270', 'V271', 'V274'

In [56]:
# Filtered datasets

var_hs_profile = ['ACADEMIC_YEAR', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'C_MODALIDAD', 'V13', 'V14', 'V15', 'V16', 
                  'V17', 'V18', 'V19', 'V49', 'V50', 'V51', 'V265', 'V268', 'V958', 'V959', 
                  'V960', 'V968', 'V969', 'V397', 'V878', 'V879']

var_undergrad_profile = ['ACADEMIC_YEAR', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA', 
                         'C_MODALIDAD', 'V1', 'V2', 'V3', 'V4', 'V11', 'V12', 'V13', 'V14', 'V15', 'V60',  
                         'V61', 'V82', 'V85', 'V175', 'V176', 'V177', 'V454', 'V455', 'V456', 'V458', 'V495']

var_grad_profile = ['ACADEMIC_YEAR', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA', 
                    'C_MODALIDAD', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V38', 'V41', 'V140',  
                    'V141', 'V142', 'V156', 'V268', 'V269', 'V270', 'V271', 'V274']


# Filter and select variables for High School dataset
high_school_profile = high_school[high_school['CCT_INS_PLA'] == '14MMS0519C'][var_hs_profile]

# Filter and select variables for Undergraduate dataset
undergraduate_profile = undergraduate[undergraduate['CCT_INS_PLA'] == '14MSU0044P'][var_undergrad_profile]

# Filter and select variables for Graduate dataset
graduate_profile = graduate[graduate['CCT_INS_PLA'] == '14MSU0044P'][var_grad_profile]

### Number of enrolled students

#### High School

In [57]:
# High School: Here we have serveral options, V51, V397 and V878 + V879. 
high_school_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V51', 'V397', 'V878', 'V879']]

      ACADEMIC_YEAR   C_MODALIDAD    V51   V397   V878   V879
7410      2021-2022  ESCOLARIZADA    0.0  192.0   90.0  102.0
14858     2019-2020         MIXTA   69.0   69.0   33.0   36.0
6671      2022-2023  ESCOLARIZADA  177.0  394.0  185.0  209.0
6844      2020-2021         MIXTA    0.0    0.0    0.0    0.0

In [58]:
# V51 differs form the other options and is incomplete. I will keep V397 as is the same as V878 + V879.
n_hs_students = high_school_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V397']].groupby(['ACADEMIC_YEAR', 'C_MODALIDAD']).agg({'V397': 'sum'}).reset_index()
n_hs_students.rename(columns={'V397': 'N_STUDENTS'}, inplace=True)
n_hs_students

  ACADEMIC_YEAR   C_MODALIDAD  N_STUDENTS
0     2019-2020         MIXTA        69.0
1     2020-2021         MIXTA         0.0
2     2021-2022  ESCOLARIZADA       192.0
3     2022-2023  ESCOLARIZADA       394.0

#### Undergraduate

In [59]:
# Undergraduate: Here we have V177 or V495. 
undergraduate_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V177', 'V495']]

      ACADEMIC_YEAR   C_MODALIDAD  V177  V495
10809     2021-2022         MIXTA    97    97
10810     2021-2022  ESCOLARIZADA   362   362
10811     2021-2022  ESCOLARIZADA     2     2
10812     2021-2022  ESCOLARIZADA   191   191
10813     2021-2022  ESCOLARIZADA   108   108
...             ...           ...   ...   ...
25258     2019-2020  ESCOLARIZADA   550   550
25259     2019-2020  ESCOLARIZADA   145   145
25260     2019-2020  ESCOLARIZADA   949   949
25261     2019-2020  ESCOLARIZADA   368   368
34389     2019-2020  ESCOLARIZADA    66    66

[172 rows x 4 columns]

In [60]:
# I will keep V177 as both have same information.
n_undergrad_students = undergraduate_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V177']].groupby(['ACADEMIC_YEAR', 'C_MODALIDAD']).agg({'V177': 'sum'}).reset_index()
n_undergrad_students.rename(columns={'V177': 'N_STUDENTS'}, inplace=True)
n_undergrad_students

  ACADEMIC_YEAR   C_MODALIDAD  N_STUDENTS
0     2019-2020  ESCOLARIZADA        8440
1     2019-2020         MIXTA        1622
2     2020-2021  ESCOLARIZADA        8421
3     2020-2021         MIXTA        1478
4     2021-2022  ESCOLARIZADA        8312
5     2021-2022         MIXTA        1479
6     2022-2023  ESCOLARIZADA        8646
7     2022-2023         MIXTA        1474

#### Graduates

In [61]:
# Graduate: Here we have V142 or V156. 
graduate_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V142', 'V156']]

      ACADEMIC_YEAR   C_MODALIDAD  V142  V156
7487      2021-2022         MIXTA     2     2
7488      2021-2022         MIXTA     0     0
7489      2021-2022         MIXTA    14    14
7490      2021-2022  ESCOLARIZADA    39    39
7491      2021-2022  ESCOLARIZADA    37    37
...             ...           ...   ...   ...
12153     2022-2023  ESCOLARIZADA    14    14
12154     2022-2023  ESCOLARIZADA    15    15
12155     2022-2023  ESCOLARIZADA    15    15
14372     2022-2023  ESCOLARIZADA     7     7
16363     2022-2023  ESCOLARIZADA    45    45

[127 rows x 4 columns]

In [62]:
# I will keep V142 as both have the same information.
n_grad_students = graduate_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V142']].groupby(['ACADEMIC_YEAR', 'C_MODALIDAD']).agg({'V142': 'sum'}).reset_index()
n_grad_students.rename(columns={'V142': 'N_STUDENTS'}, inplace=True)
n_grad_students

  ACADEMIC_YEAR      C_MODALIDAD  N_STUDENTS
0     2019-2020     ESCOLARIZADA         773
1     2019-2020            MIXTA          93
2     2019-2020  NO ESCOLARIZADA           0
3     2020-2021     ESCOLARIZADA         748
4     2020-2021            MIXTA          65
5     2020-2021  NO ESCOLARIZADA           0
6     2021-2022     ESCOLARIZADA         727
7     2021-2022            MIXTA          27
8     2022-2023     ESCOLARIZADA         686
9     2022-2023            MIXTA          18

In [63]:
n_hs_students.to_excel('n_hs_students.xlsx', index=False)
n_undergrad_students.to_excel('n_undergrad_students.xlsx', index=False)
n_grad_students.to_excel('n_grad_students.xlsx', index=False)

### Most significant degrees or faculties

#### Undergraduate

In [64]:
# Number of students by faculty
ugrad_nstud_by_depto = undergraduate_profile.groupby(['ACADEMIC_YEAR', 'NOMBRECT']).agg({'V177': 'sum'}).reset_index()
ugrad_nstud_by_depto['NOMBRECT'] = ugrad_nstud_by_depto['NOMBRECT'].str.replace('DEPARTAMENTO DE ', '').str.replace('DEPTO DE ', '')
ugrad_nstud_by_depto.rename(columns={'NOMBRECT': 'DEPTO', 'V177': 'N_STUDENTS'}, inplace=True)
ugrad_nstud_by_depto = ugrad_nstud_by_depto.pivot(index='DEPTO', columns='ACADEMIC_YEAR', values='N_STUDENTS')
ugrad_nstud_by_depto = ugrad_nstud_by_depto.sort_values('2022-2023', ascending=False)
ugrad_nstud_by_depto

ACADEMIC_YEAR,2019-2020,2020-2021,2021-2022,2022-2023
DEPTO,,,,
ECONOMIA ADMINISTRACION Y MERCADOLOGIA,2743,2618,2475,2742
HABITAT Y DESARROLLO URBANO,2028,1993,2093,2229
PROCESOS TECNOLOGICOS E INDUSTRIALES,1382,1347,1358,1374
ESTUDIOS SOCIO CULTURALES,1059,1051,984,948
ELECTRONICA SISTEMAS E INFORMATICA,733,732,760,783
PSICOLOGIA EDUCACION Y SALUD,747,765,744,772
ESTUDIOS SOCIOPOLITICOS Y JURIDICOS,782,779,743,616
MATEMATICAS Y FISICA,522,546,559,587
FILOSOFIA Y HUMANIDADES,66,68,75,69

In [65]:
# Number of students by degree
ugrad_nstud_by_degree = undergraduate_profile.groupby(['ACADEMIC_YEAR', 'C_NOM_CARRERA']).agg({'V177': 'sum'}).reset_index()
ugrad_nstud_by_degree.rename(columns={'V177': 'N_STUDENTS'}, inplace=True)

# Main degrees
ugrad_nstud_by_degree = ugrad_nstud_by_degree.groupby('ACADEMIC_YEAR').apply(lambda x: x.sort_values('N_STUDENTS', ascending=False).head(10)).reset_index(drop=True)
ugrad_nstud_by_degree

,ACADEMIC_YEAR,C_NOM_CARRERA,N_STUDENTS
0,2019-2020,ARQUITECTO,949
1,2019-2020,LICENCIATURA EN COMERCIO Y NEGOCIOS GLOBALES,718
2,2019-2020,LICENCIATURA EN ADMINISTRACIÓN DE EMPRESAS Y E...,561
3,2019-2020,LICENCIATURA EN DISEÑO,550
4,2019-2020,LICENCIATURA EN ADMINISTRACIÓN FINANCIERA,503
5,2019-2020,LICENCIATURA EN COMUNICACIÓN Y ARTES AUDIOVISU...,501
6,2019-2020,LICENCIATURA EN PSICOLOGÍA,497
7,2019-2020,LICENCIATURA EN MERCADOTECNIA,497
8,2019-2020,INGENIERÍA INDUSTRIAL,477
9,2019-2020,LICENCIATURA EN DERECHO,474
10,2020-2021,ARQUITECTO,939
11,2020-2021,LICENCIATURA EN COMERCIO Y NEGOCIOS GLOBALES,673
12,2020-2021,LICENCIATURA EN PSICOLOGÍA,521
13,2020-2021,LICENCIATURA EN COMUNICACIÓN Y ARTES AUDIOVISU...,504
14,2020-2021,LICENCIATURA EN DISEÑO,498
15,2020-2021,LICENCIATURA EN ADMINISTRACIÓN DE EMPRESAS Y E...,492
16,2020-2021,LICENCIATURA EN ADMINISTRACIÓN FINANCIERA,477
17,2020-2021,LICENCIATURA EN MERCADOTECNIA,461
18,2020-2021,LICENCIATURA EN DERECHO,455
19,2020-2021,INGENIERÍA INDUSTRIAL,449
20,2021-2022,ARQUITECTO,985
21,2021-2022,LICENCIATURA EN COMERCIO Y NEGOCIOS GLOBALES,689
22,2021-2022,LICENCIATURA EN PSICOLOGÍA,513
23,2021-2022,LICENCIATURA EN ADMINISTRACIÓN DE EMPRESAS Y E...,505
24,2021-2022,LICENCIATURA EN DISEÑO,496
25,2021-2022,LICENCIATURA EN COMUNICACIÓN Y ARTES AUDIOVISU...,477
26,2021-2022,LICENCIATURA EN MERCADOTECNIA,446
27,2021-2022,LICENCIATURA EN DERECHO,442
28,2021-2022,INGENIERÍA INDUSTRIAL,399
29,2021-2022,INGENIERÍA EN SISTEMAS COMPUTACIONALES,362
30,2022-2023,ARQUITECTO,1036
31,2022-2023,LICENCIATURA EN COMERCIO Y NEGOCIOS GLOBALES,674
32,2022-2023,LICENCIATURA EN PSICOLOGÍA,550
33,2022-2023,LICENCIATURA EN DISEÑO,518
34,2022-2023,LICENCIATURA EN ADMINISTRACIÓN DE EMPRESAS Y E...,507
35,2022-2023,LICENCIATURA EN COMUNICACIÓN Y ARTES AUDIOVISU...,450
36,2022-2023,INGENIERÍA EN SISTEMAS COMPUTACIONALES,405
37,2022-2023,LICENCIATURA EN DERECHO,404
38,2022-2023,INGENIERÍA INDUSTRIAL,398
39,2022-2023,INGENIERÍA FINANCIERA,332

#### Graduate

In [66]:
# Number of students by faculty
grad_nstud_by_depto = graduate_profile.groupby(['ACADEMIC_YEAR', 'NOMBRECT']).agg({'V142': 'sum'}).reset_index()
grad_nstud_by_depto['NOMBRECT'] = grad_nstud_by_depto['NOMBRECT'].str.replace('DEPARTAMENTO DE ', '').str.replace('DEPTO DE ', '')
grad_nstud_by_depto.rename(columns={'NOMBRECT': 'DEPTO', 'V142': 'N_STUDENTS'}, inplace=True)
grad_nstud_by_depto = grad_nstud_by_depto.pivot(index='DEPTO', columns='ACADEMIC_YEAR', values='N_STUDENTS')
grad_nstud_by_depto = grad_nstud_by_depto.sort_values('2022-2023', ascending=False)
grad_nstud_by_depto

ACADEMIC_YEAR,2019-2020,2020-2021,2021-2022,2022-2023
DEPTO,,,,
PSICOLOGIA EDUCACION Y SALUD,177.0,154.0,176.0,169.0
ELECTRONICA SISTEMAS E INFORMATICA,197.0,194.0,167.0,142.0
ECONOMIA ADMINISTRACION Y MERCADOLOGIA,240.0,190.0,135.0,129.0
MATEMATICAS Y FISICA,20.0,44.0,58.0,75.0
ESTUDIOS SOCIOPOLITICOS Y JURIDICOS,90.0,81.0,76.0,53.0
HABITAT Y DESARROLLO URBANO,39.0,46.0,44.0,51.0
FILOSOFIA Y HUMANIDADES,34.0,34.0,37.0,45.0
PROCESOS TECNOLOGICOS E INDUSTRIALES,53.0,59.0,43.0,28.0
ESTUDIOS SOCIO CULTURALES,16.0,11.0,18.0,12.0
CENTRO DE LENGUAS,NaN,0.0,0.0,0.0

In [67]:
# Number of students by degree
grad_nstud_by_degree = graduate_profile.groupby(['ACADEMIC_YEAR', 'C_NOM_CARRERA']).agg({'V142': 'sum'}).reset_index()
grad_nstud_by_degree.rename(columns={'V142': 'N_STUDENTS'}, inplace=True)

# Main degrees
grad_nstud_by_degree = grad_nstud_by_degree.groupby('ACADEMIC_YEAR').apply(lambda x: x.sort_values('N_STUDENTS', ascending=False).head(10)).reset_index(drop=True)
grad_nstud_by_degree

   ACADEMIC_YEAR                                     C_NOM_CARRERA  N_STUDENTS
0      2019-2020                        MAESTRÍA EN ADMINISTRACIÓN         175
1      2019-2020                     MAESTRÍA EN DESARROLLO HUMANO          58
2      2019-2020                  MAESTRÍA EN INFORMÁTICA APLICADA          56
3      2019-2020                  MAESTRÍA EN MERCADOTECNIA GLOBAL          54
4      2019-2020  MAESTRÍA EN EDUCACIÓN Y GESTIÓN DEL CONOCIMIENTO          53
5      2019-2020              MAESTRÍA EN SISTEMAS COMPUTACIONALES          45
6      2019-2020                 MAESTRÍA EN INGENIERÍA DE CALIDAD          41
7      2019-2020                          MAESTRÍA EN PSICOTERAPIA          40
8      2019-2020                    MAESTRÍA EN DISEÑO ELECTRÓNICO          36
9      2019-2020         MAESTRÍA EN FILOSOFÍA Y CIENCIAS SOCIALES          34
10     2020-2021                        MAESTRÍA EN ADMINISTRACIÓN         156
11     2020-2021                     MAESTRÍA EN DESARROLLO HUMANO          57
12     2020-2021                          MAESTRÍA EN PSICOTERAPIA          46
13     2020-2021                    MAESTRÍA EN DISEÑO ELECTRÓNICO          45
14     2020-2021                      MAESTRÍA EN CIENCIA DE DATOS          44
15     2020-2021                 MAESTRÍA EN INGENIERÍA DE CALIDAD          44
16     2020-2021                  MAESTRÍA EN INFORMÁTICA APLICADA          44
17     2020-2021              MAESTRÍA EN SISTEMAS COMPUTACIONALES          39
18     2020-2021         MAESTRÍA EN FILOSOFÍA Y CIENCIAS SOCIALES          34
19     2020-2021                ESPECIALIDAD EN SISTEMAS EMBEBIDOS          31
20     2021-2022                        MAESTRÍA EN ADMINISTRACIÓN         110
21     2021-2022                     MAESTRÍA EN DESARROLLO HUMANO          67
22     2021-2022                      MAESTRÍA EN CIENCIA DE DATOS          58
23     2021-2022                          MAESTRÍA EN PSICOTERAPIA          57
24     2021-2022                    MAESTRÍA EN DISEÑO ELECTRÓNICO          47
25     2021-2022              MAESTRÍA EN SISTEMAS COMPUTACIONALES          39
26     2021-2022                  MAESTRÍA EN INFORMÁTICA APLICADA          37
27     2021-2022         MAESTRÍA EN FILOSOFÍA Y CIENCIAS SOCIALES          37
28     2021-2022                 MAESTRÍA EN INGENIERÍA DE CALIDAD          31
29     2021-2022            DOCTORADO EN CIENCIAS DE LA INGENIERÍA          28
30     2022-2023                        MAESTRÍA EN ADMINISTRACIÓN         105
31     2022-2023                      MAESTRÍA EN CIENCIA DE DATOS          75
32     2022-2023                     MAESTRÍA EN DESARROLLO HUMANO          65
33     2022-2023                          MAESTRÍA EN PSICOTERAPIA          64
34     2022-2023                    MAESTRÍA EN DISEÑO ELECTRÓNICO          52
35     2022-2023         MAESTRÍA EN FILOSOFÍA Y CIENCIAS SOCIALES          45
36     2022-2023              MAESTRÍA EN SISTEMAS COMPUTACIONALES          31
37     2022-2023            DOCTORADO EN CIENCIAS DE LA INGENIERÍA          21
38     2022-2023                  MAESTRÍA EN INFORMÁTICA APLICADA          20
39     2022-2023               MAESTRÍA EN EDUCACIÓN Y CONVIVENCIA          19

In [68]:
grad_nstud_by_degree.to_excel('grad_nstud_by_degree.xlsx', index=False)
grad_nstud_by_depto.to_excel('grad_nstud_by_depto.xlsx', index=False)
ugrad_nstud_by_degree.to_excel('ugrad_nstud_by_degree.xlsx', index=False)
ugrad_nstud_by_depto.to_excel('ugrad_nstud_by_depto.xlsx', index=False)

### Cost of attendance (tuition + enrollment fees)

#### High School

Note: 
- *V968* and *V969* not available for 2021-2022

In [69]:
# Tuiton fees
high_school_profile[['ACADEMIC_YEAR', 'V968', 'V969']]

      ACADEMIC_YEAR    V968    V969
7410      2021-2022     NaN     NaN
14858     2019-2020  1000.0  9000.0
6671      2022-2023     0.0     0.0
6844      2020-2021     0.0     0.0

#### Undergraduate

Note:
- *V455* and *V456* not available for 2021-2022 and 2022-2023.

In [70]:
# Filter the years 2019-2020 and 2020-2021
undergrad_tuition = undergraduate_profile[~undergraduate_profile['ACADEMIC_YEAR'].isin(['2021-2022', '2022-2023'])][['ACADEMIC_YEAR', 'NOMBRECT', 'V455', 'V456']]
# Tuition fees = Enrollment + Tuition
undergrad_tuition['TUITION_FEES'] = undergrad_tuition['V455'] + undergrad_tuition['V456']
# Remove the rows with 0 tuition fees
undergrad_tuition = undergrad_tuition[undergrad_tuition['TUITION_FEES'] > 0]
# Group by academic year and faculty
undergrad_tuition = undergrad_tuition.groupby(['ACADEMIC_YEAR', 'NOMBRECT']).agg(AVG_TUITION=('TUITION_FEES', 'mean')).reset_index()
# Rename the columns
undergrad_tuition['NOMBRECT'] = undergrad_tuition['NOMBRECT'].str.replace('DEPARTAMENTO DE ', '').str.replace('DEPTO DE ', '')
undergrad_tuition.rename(columns={'NOMBRECT': 'DEPTO'}, inplace=True)
# Pivot the table
undergrad_tuition_wider = undergrad_tuition.pivot(index='DEPTO', columns='ACADEMIC_YEAR', values='AVG_TUITION')
undergrad_tuition_wider = undergrad_tuition_wider.sort_values('2020-2021', ascending=False)
undergrad_tuition_wider

ACADEMIC_YEAR                               2019-2020      2020-2021
DEPTO
ELECTRONICA SISTEMAS E INFORMATICA      192507.800000  199186.000000
PROCESOS TECNOLOGICOS E INDUSTRIALES    191626.500000  197366.166667
ESTUDIOS SOCIOPOLITICOS Y JURIDICOS     192373.750000  196738.500000
HABITAT Y DESARROLLO URBANO             188070.400000  187639.000000
MATEMATICAS Y FISICA                    191477.000000  187639.000000
ECONOMIA ADMINISTRACION Y MERCADOLOGIA  181622.714286  186501.750000
PSICOLOGIA EDUCACION Y SALUD            176248.666667  182618.333333
ESTUDIOS SOCIO CULTURALES               179868.200000  182305.000000
FILOSOFIA Y HUMANIDADES                 159205.000000  168499.000000

In [71]:
# Top most expensive degrees
# Filter the years 2019-2020 and 2020-2021
ugrad_tuition_degree = undergraduate_profile[~undergraduate_profile['ACADEMIC_YEAR'].isin(['2021-2022', '2022-2023'])][['ACADEMIC_YEAR', 'C_NOM_CARRERA', 'V455', 'V456']]
# Tuition fees = Enrollment + Tuition
ugrad_tuition_degree['TUITION_FEES'] = ugrad_tuition_degree['V455'] + ugrad_tuition_degree['V456']
# Remove the rows with 0 tuition fees
ugrad_tuition_degree = ugrad_tuition_degree[ugrad_tuition_degree['TUITION_FEES'] > 0]
# Group by academic year and faculty
ugrad_tuition_degree = ugrad_tuition_degree.groupby(['ACADEMIC_YEAR', 'C_NOM_CARRERA']).agg(AVG_TUITION=('TUITION_FEES', 'mean')).reset_index()
# Top 3 most expensive degrees
ugrad_tuition_degree = ugrad_tuition_degree.groupby('ACADEMIC_YEAR').apply(lambda x: x.sort_values('AVG_TUITION', ascending=False).head(3)).reset_index(drop=True)

ugrad_tuition_degree

,ACADEMIC_YEAR,C_NOM_CARRERA,AVG_TUITION
0,2019-2020,LICENCIATURA EN GESTIÓN PÚBLICA Y POLÍTICAS GL...,198649.0
1,2019-2020,LICENCIATURA EN DERECHO,198649.0
2,2019-2020,INGENIERÍA CIVIL,194166.0
3,2020-2021,LICENCIATURA EN DERECHO,203328.0
4,2020-2021,INGENIERÍA EN REDES Y TELECOMUNICACIONES,200504.0
5,2020-2021,INGENIERÍA EN ELECTRÓNICA,199563.0

#### Graduate

Note:
- *V269* and *V270* not available for 2021-2022 and 2022-2023.

In [72]:
# Filter the years 2019-2020 and 2020-2021
grad_tuition = graduate_profile[~graduate_profile['ACADEMIC_YEAR'].isin(['2021-2022', '2022-2023'])][['ACADEMIC_YEAR', 'NOMBRECT', 'V269', 'V270']]
# Tuition fees = Enrollment + Tuition
grad_tuition['TUITION_FEES'] = grad_tuition['V269'] + grad_tuition['V270']
# Remove the rows with 0 tuition fees
grad_tuition = grad_tuition[grad_tuition['TUITION_FEES'] > 0]
# Group by academic year and faculty
grad_tuition = grad_tuition.groupby(['ACADEMIC_YEAR', 'NOMBRECT']).agg(AVG_TUITION=('TUITION_FEES', 'mean')).reset_index()
# Rename the columns
grad_tuition['NOMBRECT'] = grad_tuition['NOMBRECT'].str.replace('DEPARTAMENTO DE ', '').str.replace('DEPTO DE ', '')
grad_tuition.rename(columns={'NOMBRECT': 'DEPTO'}, inplace=True)
# Pivot the table
grad_tuition_wider = grad_tuition.pivot(index='DEPTO', columns='ACADEMIC_YEAR', values='AVG_TUITION')
grad_tuition_wider = grad_tuition_wider.sort_values('2020-2021', ascending=False)
grad_tuition_wider

ACADEMIC_YEAR                               2019-2020      2020-2021
DEPTO
ESTUDIOS SOCIOPOLITICOS Y JURIDICOS     166891.000000  154480.000000
ESTUDIOS SOCIO CULTURALES               162262.000000  152675.000000
MATEMATICAS Y FISICA                    145476.000000  147537.000000
PSICOLOGIA EDUCACION Y SALUD            144184.833333  146829.800000
ECONOMIA ADMINISTRACION Y MERCADOLOGIA  135218.000000  144493.666667
ELECTRONICA SISTEMAS E INFORMATICA      123650.285714  143644.857143
HABITAT Y DESARROLLO URBANO             131488.000000  136187.666667
PROCESOS TECNOLOGICOS E INDUSTRIALES    142678.500000  130513.000000
FILOSOFIA Y HUMANIDADES                 128839.000000   88585.000000

In [73]:
# Top most expensive degrees
# Filter the years 2019-2020 and 2020-2021
grad_tuition_degree = graduate_profile[~graduate_profile['ACADEMIC_YEAR'].isin(['2021-2022', '2022-2023'])][['ACADEMIC_YEAR', 'C_NOM_CARRERA', 'V269', 'V270']]
# Tuition fees = Enrollment + Tuition
grad_tuition_degree['TUITION_FEES'] = grad_tuition_degree['V269'] + grad_tuition_degree['V270']
# Remove the rows with 0 tuition fees
grad_tuition_degree = grad_tuition_degree[grad_tuition_degree['TUITION_FEES'] > 0]
# Group by academic year and faculty
grad_tuition_degree = grad_tuition_degree.groupby(['ACADEMIC_YEAR', 'C_NOM_CARRERA']).agg(AVG_TUITION=('TUITION_FEES', 'mean')).reset_index()
# Top 3 most expensive degrees
grad_tuition_degree = grad_tuition_degree.groupby('ACADEMIC_YEAR').apply(lambda x: x.sort_values('AVG_TUITION', ascending=False).head(3)).reset_index(drop=True)

grad_tuition_degree

  ACADEMIC_YEAR                                 C_NOM_CARRERA  AVG_TUITION
0     2019-2020  DOCTORADO EN ESTUDIOS CIENTÍFICOS - SOCIALES     291716.0
1     2019-2020        DOCTORADO EN CIENCIAS DE LA INGENIERÍA     166148.0
2     2019-2020     DOCTORADO INTERINSTITUCIONAL EN EDUCACIÓN     163848.0
3     2020-2021  DOCTORADO EN ESTUDIOS CIENTÍFICOS - SOCIALES     182252.0
4     2020-2021        DOCTORADO EN INVESTIGACIÓN PSICOLÓGICA     174101.0
5     2020-2021                    MAESTRÍA EN ADMINISTRACIÓN     172455.0

### Anual growth rate

The historical annual growth from income derived from tuition fees is not calculable for the entire period due to insufficient information, particularly during the academic years 2021-2022 and 2022-2023. Therefore, an alternative approach is adopted where the historical annual growth is computed from the number of students.

CAGR = ((ending value/begining value)**(1/t))-1

#### High School

In [74]:
# High School CAGR
hs_year_stu = n_hs_students.groupby('ACADEMIC_YEAR').agg({'N_STUDENTS': 'sum'}).reset_index()
hs_cagr = ((hs_year_stu['N_STUDENTS'][3]/hs_year_stu['N_STUDENTS'][0])**(1/4))-1
print(f"The CAGR for the high school students is {hs_cagr:.2%}")

The CAGR for the high school students is 54.58%

#### Undergraduate

In [75]:
# Undergraduate CAGR
ugrad_year_stu = n_undergrad_students.groupby('ACADEMIC_YEAR').agg({'N_STUDENTS': 'sum'}).reset_index()
ugrad_cagr = ((ugrad_year_stu['N_STUDENTS'][3]/ugrad_year_stu['N_STUDENTS'][0])**(1/4))-1
print(f"The CAGR for the undergraduate students is {ugrad_cagr:.2%}")

The CAGR for the undergraduate students is 0.14%

#### Graduate

In [76]:
# Graduate CAGR
grad_year_stu = n_grad_students.groupby('ACADEMIC_YEAR').agg({'N_STUDENTS': 'sum'}).reset_index()
grad_cagr = ((grad_year_stu['N_STUDENTS'][3]/grad_year_stu['N_STUDENTS'][0])**(1/4))-1
print(f"The CAGR for the graduate students is {grad_cagr:.2%}")

The CAGR for the graduate students is -5.05%

The expected anual growth rate will be same for the next year. For example, graduate students.

In [77]:
expected_gr = (((grad_year_stu['N_STUDENTS'][3]*(1+grad_cagr))/grad_year_stu['N_STUDENTS'][3])-1)
print(f"The expected annual growth rate for the graduate students is {expected_gr:.2%}")

The expected annual growth rate for the graduate students is -5.05%

### COVID Impact on ITESO

In [78]:
# Undergraduate student proportion by modality
total_students = n_undergrad_students.groupby(['ACADEMIC_YEAR']).agg({'N_STUDENTS': 'sum'}).reset_index()
undergrad_proportion = pd.merge(n_undergrad_students, total_students, on=['ACADEMIC_YEAR'], how='left')
undergrad_proportion['PROPORTION'] = undergrad_proportion['N_STUDENTS_x']*100/undergrad_proportion['N_STUDENTS_y']
growth_by_modality_ug = undergrad_proportion.pivot(index='C_MODALIDAD', columns='ACADEMIC_YEAR', values='PROPORTION')
growth_by_modality_ug

ACADEMIC_YEAR  2019-2020  2020-2021  2021-2022  2022-2023
C_MODALIDAD
ESCOLARIZADA   83.879944  85.069199  84.894291  85.434783
MIXTA          16.120056  14.930801  15.105709  14.565217

In [79]:
# Annual growth rate
undergrad_proportion = undergrad_proportion.sort_values(by=['C_MODALIDAD', 'ACADEMIC_YEAR'])
undergrad_proportion['GROWTH'] = undergrad_proportion.groupby('C_MODALIDAD')['N_STUDENTS_x'].apply(lambda x: ((x / x.shift()) - 1)*100)
undergrad_proportion

,ACADEMIC_YEAR,C_MODALIDAD,N_STUDENTS_x,N_STUDENTS_y,PROPORTION,GROWTH
0,2019-2020,ESCOLARIZADA,8440,10062,83.879944,NaN
2,2020-2021,ESCOLARIZADA,8421,9899,85.069199,-0.225118
4,2021-2022,ESCOLARIZADA,8312,9791,84.894291,-1.294383
6,2022-2023,ESCOLARIZADA,8646,10120,85.434783,4.018287
1,2019-2020,MIXTA,1622,10062,16.120056,NaN
3,2020-2021,MIXTA,1478,9899,14.930801,-8.877928
5,2021-2022,MIXTA,1479,9791,15.105709,0.067659
7,2022-2023,MIXTA,1474,10120,14.565217,-0.338066

In [80]:
# Graduate students proportion by modality
grad_proportion = n_grad_students[n_grad_students['C_MODALIDAD'] != "NO ESCOLARIZADA"]
total_students = grad_proportion.groupby(['ACADEMIC_YEAR']).agg({'N_STUDENTS': 'sum'}).reset_index()
grad_proportion = pd.merge(grad_proportion, total_students, on=['ACADEMIC_YEAR'], how='left')
grad_proportion['PROPORTION'] = grad_proportion['N_STUDENTS_x']*100/grad_proportion['N_STUDENTS_y']
growth_by_modality_g = grad_proportion.pivot(index='C_MODALIDAD', columns='ACADEMIC_YEAR', values='PROPORTION')
growth_by_modality_g

ACADEMIC_YEAR  2019-2020  2020-2021  2021-2022  2022-2023
C_MODALIDAD
ESCOLARIZADA    89.26097   92.00492  96.419098  97.443182
MIXTA           10.73903    7.99508   3.580902   2.556818

In [81]:
# Annual growth rate
grad_proportion = grad_proportion.sort_values(by=['C_MODALIDAD', 'ACADEMIC_YEAR'])
grad_proportion['GROWTH'] = grad_proportion.groupby('C_MODALIDAD')['N_STUDENTS_x'].apply(lambda x: ((x / x.shift()) - 1)*100)
grad_proportion

,ACADEMIC_YEAR,C_MODALIDAD,N_STUDENTS_x,N_STUDENTS_y,PROPORTION,GROWTH
0,2019-2020,ESCOLARIZADA,773,866,89.260970,NaN
2,2020-2021,ESCOLARIZADA,748,813,92.004920,-3.234153
4,2021-2022,ESCOLARIZADA,727,754,96.419098,-2.807487
6,2022-2023,ESCOLARIZADA,686,704,97.443182,-5.639615
1,2019-2020,MIXTA,93,866,10.739030,NaN
3,2020-2021,MIXTA,65,813,7.995080,-30.107527
5,2021-2022,MIXTA,27,754,3.580902,-58.461538
7,2022-2023,MIXTA,18,704,2.556818,-33.333333

### COVID Impact on pricing

#### Undergraduate

In [82]:
# Undergraduate
# Group by 'ACADEMIC_YEAR' and calculate the mean of 'AVG_TUITION'
avg_tuition_ugrad = undergrad_tuition.groupby('ACADEMIC_YEAR')['AVG_TUITION'].mean().reset_index()

# Calculate the growth rate
avg_tuition_ugrad['GROWTH_RATE'] = avg_tuition_ugrad['AVG_TUITION'].pct_change() * 100

# Display the dataframe
avg_tuition_ugrad

  ACADEMIC_YEAR    AVG_TUITION  GROWTH_RATE
0     2019-2020  183666.670106          NaN
1     2020-2021  187610.305556      2.14717

#### Graduate

In [83]:
# Graduate
# Group by 'ACADEMIC_YEAR' and calculate the mean of 'AVG_TUITION'
avg_tuition_grad = grad_tuition.groupby('ACADEMIC_YEAR')['AVG_TUITION'].mean().reset_index()

# Calculate the growth rate
avg_tuition_grad['GROWTH_RATE'] = avg_tuition_grad['AVG_TUITION'].pct_change() * 100

# Display the dataframe
avg_tuition_grad

  ACADEMIC_YEAR    AVG_TUITION  GROWTH_RATE
0     2019-2020  142298.624339          NaN
1     2020-2021  138327.332275    -2.790815

### Competitive landscape

When assessing the competitive landscape, one must first consider location, and in the case of ITESO, situated in Tlaquepaque within the metropolitan area of Guadalajara, it is pertinent to evaluate schools within Guadalajara and its surrounding metropolitan zone (Zapopan, Tlaquepaque and Tonalá).

Regarding high schools, the available information is limited, yet it is plausible to suggest that the market consists predominantly of private institutions within the metropolitan area of Guadalajara. High school education may present a fragmented market due to its reliance on proximity to students' residences, which differs from the dynamics of undergraduate and graduate education.

When evaluating undergraduate and graduate programs, it is essential to account for both public and private institutions, as well as various modalities such as on-site, hybrid, and online learning. Competition within this realm occurs across both private and public sectors, although not all universities are direct competitors. Among the prominent institutions in Guadalajara are:

- Universidad de Guadalajara (14MSU0010Z)
- Tecnológico de Monterrey, Campus Guadalajara (14MSU0050Z)
- Universidad Panamericana, Campus Guadalajara (14MSU0070N)
- Universidad Autónoma de Guadalajara (14MSU0028Y)
- ITESO (14MSU0044P)

This list aligns with common considerations when selecting a university, which include factors such as academic reputation, available programs, infrastructure and resources, and the cost of tuition and enrollment, including potential scholarships or financial aid.

To compare ITESO the following variables were choosen: 

 - Undergraduate: 'ACADEMIC_YEAR', 'C_NOM_MUN', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA','C_MODALIDAD', 'V1', 'V2', 'V3', 'V4', 'V11', 'V12', 'V13', 'V14', 'V15', 'V60', 'V61', 'V82', 'V85', 'V175', 'V176', 'V177', 'V454', 'V455', 'V456', 'V458', 'V495'
 - Graduate: 'ACADEMIC_YEAR', 'C_NOM_MUN', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA', 'C_MODALIDAD', 'V1', 'V2', 'V3', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V38', 'V41', 'V140','V141', 'V142', 'V156', 'V248', 'V249', 'V268', 'V269', 'V270', 'V271', 'V274'.

In [84]:
# Filter undergraduate dataset
undergrad_competitors = undergraduate[undergraduate['CCT_INS_PLA'].isin(['14MSU0010Z', '14MSU0050Z', '14MSU0070N', '14MSU0028Y', '14MSU0044P'])]
undergrad_competitors = undergrad_competitors[undergrad_competitors['CV_MUN'].isin([39, 98, 101, 120])]
undergrad_competitors = undergrad_competitors[['ACADEMIC_YEAR', 'C_NOM_MUN', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA', 'C_MODALIDAD', 
                                               'V1', 'V2', 'V3', 'V4', 'V11', 'V12', 'V13', 'V14', 'V15', 'V60', 'V61', 'V82', 'V85', 'V175', 
                                               'V176', 'V177', 'V454', 'V455', 'V456', 'V458', 'V495']]

# Filter graduate dataset
grad_competitors = graduate[graduate['CCT_INS_PLA'].isin(['14MSU0010Z', '14MSU0050Z', '14MSU0070N', '14MSU0028Y', '14MSU0044P'])]
grad_competitors = grad_competitors[grad_competitors['CV_MUN'].isin([39, 98, 101, 120])]
grad_competitors = grad_competitors[['ACADEMIC_YEAR', 'C_NOM_MUN', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA', 'C_MODALIDAD', 
                                     'V1', 'V2', 'V3', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V38', 'V41', 'V140', 'V141', 'V142', 'V156', 
                                     'V248', 'V249', 'V268', 'V269', 'V270', 'V271', 'V274']]

#### Number of students

##### Undergraduate

In [85]:
# Undergraduate number of students by university
n_undergrad_by_uni = undergrad_competitors[['ACADEMIC_YEAR', 'NOMBRE_INS_PLA', 'V177']].groupby(['ACADEMIC_YEAR', 'NOMBRE_INS_PLA']).agg({'V177': 'sum'}).reset_index()
n_undergrad_by_uni.rename(columns={'V177': 'N_STUDENTS'}, inplace=True)
n_undergrad_by_uni = n_undergrad_by_uni.pivot(index='NOMBRE_INS_PLA', columns='ACADEMIC_YEAR', values='N_STUDENTS')
n_undergrad_by_uni = n_undergrad_by_uni.sort_values(by='2022-2023', ascending=False)
n_undergrad_by_uni

ACADEMIC_YEAR,2019-2020,2020-2021,2021-2022,2022-2023
NOMBRE_INS_PLA,,,,
UNIVERSIDAD DE GUADALAJARA,85090,91222,93836,95710
ITESO,10062,9899,9791,10120
UNIVERSIDAD AUTONOMA DE GUADALAJARA,9900,8968,9224,8909
ITESM CAMPUS GUADALAJARA,4810,4095,5009,6193
UNIVERSIDAD PANAMERICANA CAMPUS GUADALAJARA,3847,3841,4042,4306

##### Graduate

In [86]:
# Graduate number of students by university
n_grad_by_uni = grad_competitors[['ACADEMIC_YEAR', 'NOMBRE_INS_PLA', 'V142']].groupby(['ACADEMIC_YEAR', 'NOMBRE_INS_PLA']).agg({'V142': 'sum'}).reset_index()
n_grad_by_uni.rename(columns={'V142': 'N_STUDENTS'}, inplace=True)
n_grad_by_uni = n_grad_by_uni.pivot(index='NOMBRE_INS_PLA', columns='ACADEMIC_YEAR', values='N_STUDENTS')
n_grad_by_uni = n_grad_by_uni.sort_values(by='2022-2023', ascending=False)
n_grad_by_uni

ACADEMIC_YEAR,2019-2020,2020-2021,2021-2022,2022-2023
NOMBRE_INS_PLA,,,,
UNIVERSIDAD DE GUADALAJARA,5681,5645,4893,5604
UNIVERSIDAD PANAMERICANA CAMPUS GUADALAJARA,938,897,900,1057
UNIVERSIDAD AUTONOMA DE GUADALAJARA,913,827,900,893
ITESO,866,813,754,704
ITESM CAMPUS GUADALAJARA,212,168,280,124

#### Number of programs

##### Undergraduate

In [87]:
# Number of programs by university
undergrad_nprograms = undergrad_competitors[['ACADEMIC_YEAR', 'NOMBRE_INS_PLA', 'C_NOM_CARRERA']].drop_duplicates()
undergrad_nprograms = undergrad_nprograms.groupby(['ACADEMIC_YEAR', 'NOMBRE_INS_PLA']).size().reset_index(name='N_PROGRAMS')
undergrad_nprograms = undergrad_nprograms.pivot(index='NOMBRE_INS_PLA', columns='ACADEMIC_YEAR', values='N_PROGRAMS')
undergrad_nprograms = undergrad_nprograms.sort_values(by='2022-2023', ascending=False)
undergrad_nprograms

ACADEMIC_YEAR,2019-2020,2020-2021,2021-2022,2022-2023
NOMBRE_INS_PLA,,,,
UNIVERSIDAD DE GUADALAJARA,102,102,100,101
UNIVERSIDAD AUTONOMA DE GUADALAJARA,68,84,90,89
ITESO,39,43,43,46
ITESM CAMPUS GUADALAJARA,30,30,30,30
UNIVERSIDAD PANAMERICANA CAMPUS GUADALAJARA,20,23,23,25

##### Graduate

In [88]:
# Number of programs by university
grad_nprograms = grad_competitors[['ACADEMIC_YEAR', 'NOMBRE_INS_PLA', 'C_NOM_CARRERA']].drop_duplicates()
grad_nprograms = grad_nprograms.groupby(['ACADEMIC_YEAR', 'NOMBRE_INS_PLA']).size().reset_index(name='N_PROGRAMS')
grad_nprograms = grad_nprograms.pivot(index='NOMBRE_INS_PLA', columns='ACADEMIC_YEAR', values='N_PROGRAMS')
grad_nprograms = grad_nprograms.sort_values(by='2022-2023', ascending=False)
grad_nprograms

ACADEMIC_YEAR,2019-2020,2020-2021,2021-2022,2022-2023
NOMBRE_INS_PLA,,,,
UNIVERSIDAD DE GUADALAJARA,264,278,275,287
UNIVERSIDAD AUTONOMA DE GUADALAJARA,49,58,58,58
UNIVERSIDAD PANAMERICANA CAMPUS GUADALAJARA,45,51,50,52
ITESO,30,32,31,33
ITESM CAMPUS GUADALAJARA,7,7,7,7

#### Cost of attendance

##### Undergraduate

Note:
- *V455* and *V456* not available for 2021-2022 and 2022-2023.

In [89]:
# Assign the level of the program
undergrad_competitors['LEVEL'] = np.where(undergrad_competitors['V1'] == 1, 'TECNICO SUPERIOR',
                                          np.where(undergrad_competitors['V2'] == 1, 'LINCENCIATURA',
                                                   np.where(undergrad_competitors['V3'] == 1, 'LINCENCIATURA',
                                                            np.where(undergrad_competitors['V4'] == 1, 'LINCENCIATURA', 'NOT_DEFINED'))))

ug_cost_by_uni = undergrad_competitors[['ACADEMIC_YEAR', 'NOMBRE_INS_PLA', 'LEVEL', 'V455', 'V456']].reset_index()

# Tuition fees = Enrollment + Tuition
ug_cost_by_uni['TUITION_FEES'] = ug_cost_by_uni['V455'] + ug_cost_by_uni['V456']
# Filter the years 2019-2020 and 2020-2021
ug_cost_by_uni = ug_cost_by_uni[~ug_cost_by_uni ['ACADEMIC_YEAR'].isin(['2021-2022', '2022-2023'])]
# Remove the rows with 0 tuition fees
ug_cost_by_uni  = ug_cost_by_uni[ug_cost_by_uni ['TUITION_FEES'] > 0] # This will drop 'UNIVERSIDAD DE GUADALAJARA'
# Group by academic year and faculty
ug_cost_by_uni = ug_cost_by_uni.groupby(['ACADEMIC_YEAR', 'NOMBRE_INS_PLA', 'LEVEL']).agg(AVG_TUITION=('TUITION_FEES', 'mean')).reset_index()
# Pivot the table
ug_cost_by_uni = ug_cost_by_uni.pivot(index=['NOMBRE_INS_PLA', 'LEVEL'], columns='ACADEMIC_YEAR', values='AVG_TUITION')
ug_cost_by_uni = ug_cost_by_uni.sort_values(by='2020-2021', ascending=False)
ug_cost_by_uni

ACADEMIC_YEAR                                                     2019-2020  \
NOMBRE_INS_PLA                              LEVEL
ITESM CAMPUS GUADALAJARA                    LINCENCIATURA     118700.000000
ITESO                                       LINCENCIATURA     185888.157895
UNIVERSIDAD PANAMERICANA CAMPUS GUADALAJARA LINCENCIATURA     141952.347826
UNIVERSIDAD AUTONOMA DE GUADALAJARA         LINCENCIATURA     127135.714286
                                            TECNICO SUPERIOR   84850.000000

ACADEMIC_YEAR                                                     2020-2021
NOMBRE_INS_PLA                              LEVEL
ITESM CAMPUS GUADALAJARA                    LINCENCIATURA     252340.740741
ITESO                                       LINCENCIATURA     189476.904762
UNIVERSIDAD PANAMERICANA CAMPUS GUADALAJARA LINCENCIATURA     169939.592593
UNIVERSIDAD AUTONOMA DE GUADALAJARA         LINCENCIATURA     142141.489362
                                            TECNICO SUPERIOR   95450.000000

##### Graduate

Note:
- *V269* and *V270* not available for 2021-2022 and 2022-2023.

In [90]:
# Assign the level of the program
grad_cost_by_uni = grad_competitors[['ACADEMIC_YEAR', 'NOMBRE_INS_PLA', 'V269', 'V270']].reset_index()

# Tuition fees = Enrollment + Tuition
grad_cost_by_uni['TUITION_FEES'] = grad_cost_by_uni['V269'] + grad_cost_by_uni['V270']
# Filter the years 2019-2020 and 2020-2021
grad_cost_by_uni = grad_cost_by_uni[~grad_cost_by_uni['ACADEMIC_YEAR'].isin(['2021-2022', '2022-2023'])]
# Remove the rows with 0 tuition fees
grad_cost_by_uni = grad_cost_by_uni[grad_cost_by_uni['TUITION_FEES'] > 0] # Universidad de Guadalajara excluded
# Group by academic year and faculty
grad_cost_by_uni = grad_cost_by_uni.groupby(['ACADEMIC_YEAR', 'NOMBRE_INS_PLA']).agg(AVG_TUITION=('TUITION_FEES', 'mean')).reset_index()
# Pivot the table
grad_cost_by_uni = grad_cost_by_uni.pivot(index='NOMBRE_INS_PLA', columns='ACADEMIC_YEAR', values='AVG_TUITION')
grad_cost_by_uni = grad_cost_by_uni.sort_values(by='2020-2021', ascending=False)
grad_cost_by_uni

ACADEMIC_YEAR                                    2019-2020      2020-2021
NOMBRE_INS_PLA
ITESM CAMPUS GUADALAJARA                      78968.000000  242640.000000
UNIVERSIDAD PANAMERICANA CAMPUS GUADALAJARA  189915.000000  239303.306122
ITESO                                        141274.285714  142997.500000
UNIVERSIDAD AUTONOMA DE GUADALAJARA           90017.567568   98195.714286

#### Scholarships

In [91]:
# Only Graduate
grad_competitors['N_SCHOLARSHIPS'] = grad_competitors['V248'] + grad_competitors['V249']
n_scholarships = grad_competitors[['ACADEMIC_YEAR', 'NOMBRE_INS_PLA', 'N_SCHOLARSHIPS']].groupby(['ACADEMIC_YEAR', 'NOMBRE_INS_PLA']).agg({'N_SCHOLARSHIPS': 'sum'}).reset_index()
# Pivot the table
n_scholarships = n_scholarships.pivot(index='NOMBRE_INS_PLA', columns='ACADEMIC_YEAR', values='N_SCHOLARSHIPS')
n_scholarships = n_scholarships.sort_values(by='2020-2021', ascending=False)
n_scholarships

ACADEMIC_YEAR,2019-2020,2020-2021,2021-2022,2022-2023
NOMBRE_INS_PLA,,,,
UNIVERSIDAD DE GUADALAJARA,3930,4040,3272,4144
ITESO,269,257,267,253
UNIVERSIDAD PANAMERICANA CAMPUS GUADALAJARA,233,234,211,235
UNIVERSIDAD AUTONOMA DE GUADALAJARA,412,221,245,172
ITESM CAMPUS GUADALAJARA,0,0,0,115