In [1]:
# Libraries
import os
import pandas as pd

In [86]:
# Get the file names in each folder

# Questionary A is for the undergrad students
file_names_undergrad = os.listdir('grad_and_undergrad/datasets/undergraduate')

# Questionary B is for the graduate students
file_names_grad = os.listdir('grad_and_undergrad/datasets/graduate')

# Questionary G is for the high school students
file_names_hs =  os.listdir('high_school/datasets')

High School Students

In [ ]:
# New

Undergraduate Students

In [43]:
# Initialize an empty list to store the dataframes
list_df = []

# Iterate over the file names
for file in file_names:
    # Read each file and add the year to a new column
    year = file.split("_")[1].split(".")[0]
    # The files for the year 22-23 are comma separated
    if year == '2223':
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets', file), sep=",", encoding='latin-1')
    # The rest are pipe separated
    else:
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets', file), sep="|")
    df["academic_year"] = year
    
    # Append the dataframe to the list
    list_df.append(df)

/var/folders/6h/468gxm8j32x2l7lhsl15fjy80000gn/T/ipykernel_55425/2668468197.py:13: DtypeWarning: Columns (592) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join('grad_and_undergrad/datasets', file), sep="|")

In [45]:
# Concatenate all the dataframes into a single dataframe
grad_and_undergrad = pd.concat(list_df, ignore_index=True)

Graduate Students

In [63]:
list_df[0].dtypes.tolist()
# Create a new DataFrame with the variable names and types
df_types = pd.DataFrame(columns=['Variable', 'Type'])

# Iterate over the list of DataFrames
for i, df in enumerate(list_df):
    # Get the column names and types of the DataFrame
    columns = df.columns.tolist()
    types = df.dtypes.tolist()
    
    # Create a temporary DataFrame for the current DataFrame
    temp_df = pd.DataFrame({'Variable': columns, 'Type': types})
    
    # Add a new column for the DataFrame index
    temp_df['DataFrame'] = f'DataFrame {i+1}'
    
    # Append the temporary DataFrame to the main DataFrame
    df_types = pd.concat([df_types, temp_df], ignore_index=True)

# Pivot the DataFrame to have the types as columns
df_types_pivot = df_types.pivot(index='Variable', columns='DataFrame', values='Type')

# Reset the index
df_types_pivot.reset_index(inplace=True)

# Print the new DataFrame
print(df_types_pivot)

DataFrame          Variable DataFrame 1 DataFrame 2 DataFrame 3 DataFrame 4  \
0               CCT_INS_PLA      object      object      object      object
1                   CONTROL      object      object      object      object
2          CV_CARACTERIZAN1       int64       int64       int64       int64
3          CV_CARACTERIZAN2       int64       int64       int64       int64
4                CV_CARRERA       int64       int64       int64       int64
..                      ...         ...         ...         ...         ...
676                     V96       int64       int64       int64       int64
677                     V97       int64       int64       int64       int64
678                     V98       int64       int64       int64       int64
679                     V99       int64       int64       int64       int64
680           academic_year      object      object      object      object

DataFrame DataFrame 5 DataFrame 6 DataFrame 7 DataFrame 8
0              object      object      object      object
1              object      object      object      object
2               int64       int64       int64       int64
3               int64       int64       int64       int64
4               int64       int64       int64       int64
..                ...         ...         ...         ...
676             int64       int64       int64       int64
677             int64       int64       int64       int64
678             int64       int64       int64       int64
679             int64       int64       int64       int64
680            object      object      object      object

[681 rows x 9 columns]

In [ ]:
filtered_df = df_types_pivot.drop_duplicates(subset=df_types_pivot.columns[1:], keep=False)

In [65]:
filtered_df

DataFrame,Variable,DataFrame 1,DataFrame 2,DataFrame 3,DataFrame 4,DataFrame 5,DataFrame 6,DataFrame 7,DataFrame 8
30,C_OBSERVACION,NaN,object,NaN,NaN,NaN,NaN,object,NaN
36,F322,NaN,NaN,NaN,NaN,NaN,object,NaN,NaN
37,F593,NaN,NaN,NaN,object,NaN,NaN,NaN,NaN
38,FECHA_ENTREGA,NaN,object,NaN,object,NaN,object,object,NaN
161,V2,int64,int64,NaN,int64,int64,int64,int64,int64
245,V276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,int64
651,V734,NaN,NaN,int64,NaN,NaN,NaN,NaN,NaN

In [67]:
# Initialize an empty list to store the dataframes
list_df_hs = []

# Iterate over the file names
for file in file_names_hs:
    # Read each file and add the year to a new column
    year = file.split("_")[1].split(".")[0]
    # The file for the year 22-23 is comma separated
    if year == '2223':
        df = pd.read_csv(os.path.join('high_school/datasets',file), sep=',', encoding='latin-1')
    else:
        df = pd.read_csv(os.path.join('high_school/datasets', file), sep="|")

    # Add the year to the dataframe
    df["academic_year"] = year
    
    # Append the dataframe to the list
    list_df_hs.append(df)

['F9117G_2122.csv', 'F9117G_1920.csv', 'F9117G_2223.csv', 'F9117G_2021.csv']

In [81]:
pd.read_csv(os.path.join('high_school/datasets', 'F9117G_2021.csv'), sep="|", low_memory=False)

,CCT_INS_PLA,NOMBRE_INS_PLA,CV_CCT,CV_TURNO,C_TURNO,NOMBRECT,CV_ENT_ADMNISTRATIVA,ENT_ADMINISTRATIVA,CV_ENT_INMUEBLE,ENTIDAD_INMUEBLE,...,V966,V967,V968,V969,V970,V971,V972,V973,FECHA_ENTREGA,C_OBSERVACION
0,01MMS0198F,INSTITUTO ANITA BRENNER,01PBH0050Z,1,MATUTINO,INSTITUTO ANITA BRENNER,1,AGUASCALIENTES,1,AGUASCALIENTES,...,1500,0,2000,17000,0,1,0,0,2020-12-15,NaN
1,01MMS0199E,CENTRO DE ESTUDIOS SUPERIORES DE AGUASCALIENTE...,01PBH0052X,1,MATUTINO,CENTRO DE ESTUDIOS SUPERIORES DE AGUASCALIENTE...,1,AGUASCALIENTES,1,AGUASCALIENTES,...,0,0,0,0,0,0,0,0,2020-12-08,NaN
2,01MMS0200D,COLEGIO PASCAL A.C.,01PBH0054V,1,MATUTINO,COLEGIO PASCAL A.C.,1,AGUASCALIENTES,1,AGUASCALIENTES,...,1500,0,1650,1490,0,1,0,0,2020-11-08,NaN
3,01MMS0187Z,PREPARATORIA JOSE MA. MORELOS Y PAVON,01PBH0056T,2,VESPERTINO,PREPARATORIA JOSE MA. MORELOS Y PAVON,1,AGUASCALIENTES,1,AGUASCALIENTES,...,0,0,0,0,0,0,0,0,2020-11-06,NaN
4,01MMS0187Z,PREPARATORIA JOSE MA. MORELOS Y PAVON,01PBH0056T,1,MATUTINO,PREPARATORIA JOSE MA. MORELOS Y PAVON,1,AGUASCALIENTES,1,AGUASCALIENTES,...,800,0,2000,11520,0,1,0,0,2020-11-06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18464,32MMS0292D,PREPARATORIA NUM. 9,32UBH0009N,1,MATUTINO,PREPARATORIA NUM. 9,32,ZACATECAS,32,ZACATECAS,...,0,0,0,0,0,1,0,0,2020-12-03,NaN
18465,32MMS0293C,PREPARATORIA NUM. 10,32UBH0010C,1,MATUTINO,PREPARATORIA NUM. 10,32,ZACATECAS,32,ZACATECAS,...,0,0,0,0,0,1,0,0,2020-12-03,NaN
18466,32MMS0294B,PREPARATORIA NUM. 11,32UBH0011B,1,MATUTINO,PREPARATORIA NUM. 11,32,ZACATECAS,32,ZACATECAS,...,0,0,0,0,0,1,0,0,2020-12-03,NaN
18467,32MMS0295A,PREPARATORIA NUM. 12,32UBH0012A,1,MATUTINO,PREPARATORIA NUM. 12,32,ZACATECAS,32,ZACATECAS,...,0,0,0,0,0,1,0,0,2020-12-03,NaN
18468,32MMS0296Z,PREPARATORIA NUM. 13,32UBH0013Z,1,MATUTINO,PREPARATORIA NUM. 13,32,ZACATECAS,32,ZACATECAS,...,0,0,0,0,0,1,0,0,2020-12-03,NaN