# Data Challenge 2024 - EY

## Data Cleaning

In [1]:
# Libraries
import os
import pandas as pd
import re

In [2]:
# Get the file names in each folder

# Questionary A is for the undergrad students
file_names_undergrad = os.listdir('grad_and_undergrad/datasets/undergraduate')

# Questionary B is for the graduate students
file_names_grad = os.listdir('grad_and_undergrad/datasets/graduate')

# Questionary G is for the high school students
file_names_hs =  os.listdir('high_school/datasets')

### High School Students

**Notes:**
- Files 'F9117G_1920.csv', 'F9117G_2021.csv' and 'F9117G_2122.csv' are pipe separated.
- The file 'F9117G_2223.csv' is comma separated and needs latin encoding. 
- In files 'F9117G_1920.csv' and 'F9117G_2021.csv', some variables have no correspondence in the questionary. For instance: E3, E4, E19, E230, E258, E763, E766 and E769 (seems to be misspelled as there are no V3, V4, V19, V230, V258, V763, V766 and V769)
- In files  'F9117G_2122.csv' and 'F9117G_2223.csv', some variables have no correspondence in the questionary. For instance: E3, E4, E19, E763, E766, E769 (seems to be misspelled as there are no V3, V4, V19, V763, V766, V769)

In [3]:
# Initialize an empty list to store the dataframes
list_df_hs = []

# Iterate over the file names
for file in file_names_hs:
    # Read each file and add the year to a new column
    year = file.split("_")[1].split(".")[0]
    # The file for the year 22-23 is comma separated
    if year == '2223':
        df = pd.read_csv(os.path.join('high_school/datasets',file), sep=',', encoding='latin-1', low_memory=False)
        # Remove the last column 
        df = df.iloc[:, :-1]
    else:
        df = pd.read_csv(os.path.join('high_school/datasets', file), sep="|", low_memory=False)
    
    # Modify columns names for consitency
    for var in df.columns:
        if re.match(r'^E\d', var):
            new_name = re.sub(r'^E', 'V', var)
            df.rename(columns={var: new_name}, inplace=True)
    
    # New column for the academic year
    df['ACADEMIC_YEAR'] = year
            
    # Append the dataframe to the list
    list_df_hs.append(df)

In [4]:
# Check for variable consistency

# Create a dictionary to store the column names for each dataframe
df_names_hs = {}

for i in range(len(list_df_hs)):
    df_names_hs[file_names_hs[i]] = list(list_df_hs[i].columns)

# Create a list of unique variables 
variables_hs = set().union(*df_names_hs.values())

# Diffence between all variables and the variables in the dataframes
missing_vars_1920 = variables_hs.difference(df_names_hs['F9117G_1920.csv'])
missing_vars_2021 = variables_hs.difference(df_names_hs['F9117G_2021.csv'])
missing_vars_2122 = variables_hs.difference(df_names_hs['F9117G_2122.csv'])
missing_vars_2223 = variables_hs.difference(df_names_hs['F9117G_2223.csv'])

# Print the results
print(f"Missing variables in 2019-2020: {missing_vars_1920}")
print(f"Missing variables in 2020-2021: {missing_vars_2021}")
print(f"Missing variables in 2021-2022: {missing_vars_2122}")   
print(f"Missing variables in 2022-2023: {missing_vars_2223}")

Missing variables in 2019-2020: set()
Missing variables in 2020-2021: set()
Missing variables in 2021-2022: {'V222', 'V720', 'V929', 'V71', 'V923', 'V211', 'V915', 'V119', 'V31', 'V201', 'V311', 'V213', 'V149', 'V38', 'V187', 'V143', 'V714', 'V249', 'V179', 'V192', 'V206', 'V955', 'V236', 'V234', 'V931', 'V241', 'V229', 'V233', 'V323', 'V173', 'V971', 'V195', 'V335', 'V194', 'V937', 'V928', 'V317', 'V258', 'V167', 'V209', 'V750', 'V183', 'V207', 'V965', 'V244', 'V257', 'V224', 'V756', 'V223', 'V131', 'V215', 'V204', 'V275', 'V203', 'V196', 'V938', 'V232', 'V228', 'V137', 'V125', 'V942', 'V182', 'V24', 'V954', 'V219', 'V940', 'V197', 'V922', 'C_OBSERVACION', 'V347', 'V370', 'V251', 'V967', 'V708', 'V943', 'V260', 'SUBSISTEMA_2', 'V948', 'V237', 'SUBSISTEMA_1', 'V732', 'V198', 'V214', 'V939', 'V384', 'V744', 'V255', 'V45', 'V217', 'V918', 'V920', 'V293', 'V212', 'V966', 'V951', 'V239', 'V200', 'V231', 'V305', 'V155', 'V281', 'V185', 'V930', 'V398', 'V919', 'V220', 'V193', 'V254', 'V329', 'V969', 'V202', 'V936', 'V161', 'V95', 'V947', 'V210', 'V189', 'V208', 'V107', 'V250', 'V953', 'V957', 'V913', 'V926', 'V391', 'V287', 'V227', 'V259', 'V299', 'V59', 'V242', 'V738', 'V240', 'V246', 'V933', 'V191', 'V248', 'V946', 'V927', 'V253', 'V968', 'V970', 'V972', 'V925', 'V205', 'V184', 'V917', 'V934', 'V944', 'V247', 'V52', 'V83', 'V696', 'V945', 'V377', 'SUBSISTEMA_3', 'V956', 'V702', 'V941', 'V726', 'V235', 'V916', 'V950', 'V921', 'V230', 'V261', 'V245', 'V77', 'V101', 'V914', 'V218', 'V243', 'V341', 'V924', 'V935', 'V216', 'V226', 'V952', 'V65', 'V89', 'V188', 'FECHA_ENTREGA', 'V949', 'V186', 'V932', 'V225', 'V221', 'V238', 'V256', 'V199', 'V269', 'V973', 'V113', 'V252', 'V190'}
Missing variables in 2022-2023: {'C_OBSERVACION', 'FECHA_ENTREGA'}

**Addtional Notes:** 
- Files *F9117G_1920.csv* and *F9117G_2021.csv* have two additional rows: FECHA_ENTREGA and C_OBSERVACION (The last one, not reported as a column in 'Column names')
- In file 'F9117G_2122.csv' some variables are missing. For example: *V24*, *V32*, *V38*, etc.
- The file 'F9117G_2223.csv' have an extra unamed empty column (the last one).

In [5]:
# Complete dataset
high_school = pd.concat(list_df_hs)

### Undergraduate Students

**Notes:**
- Files 'KI9119A_1920.csv', 'KI9119A_2021.csv' and 'KI9119A_2122.csv' are pipe separated.
- The file 'KI9119A_2223.csv' is comma separated and needs latin encoding.

In [6]:
# Initialize an empty list to store the dataframes
list_df_undergrad = []

# Iterate over the file names
for file in file_names_undergrad:
    # Read each file and add the year to a new column
    year = file.split("_")[1].split(".")[0]
    # The file for the year 22-23 is comma separated
    if year == '2223':
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets/undergraduate', file), sep=',', encoding='latin-1', low_memory=False)
    else:
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets/undergraduate', file), sep="|", low_memory=False)

    # New column for the academic year
    df['ACADEMIC_YEAR'] = year

    # Append the dataframe to the list
    list_df_undergrad.append(df)

In [7]:
# Create a dictionary to store the column names for each dataframe
df_names_undergrad = {}

for i in range(len(list_df_undergrad)):
    df_names_undergrad[file_names_undergrad[i]] = list(list_df_undergrad[i].columns)

# Create a list of unique variables 
variables_undergrad = set().union(*df_names_undergrad.values())

# Diffence between all variables and the variables in the dataframes
missing_vars_1920 = variables_undergrad.difference(df_names_undergrad['KI9119A_1920.csv'])
missing_vars_2021 = variables_undergrad.difference(df_names_undergrad['KI9119A_2021.csv'])
missing_vars_2122 = variables_undergrad.difference(df_names_undergrad['KI9119A_2122.csv'])
missing_vars_2223 = variables_undergrad.difference(df_names_undergrad['KI9119A_2223.csv'])

# Print the missing variables
print(f"Missing variables in 2019-2020: {missing_vars_1920}")
print(f"Missing variables in 2020-2021: {missing_vars_2021}")
print(f"Missing variables in 2021-2022: {missing_vars_2122}")   
print(f"Missing variables in 2022-2023: {missing_vars_2223}")

Missing variables in 2019-2020: {'V734', 'C_OBSERVACION'}
Missing variables in 2020-2021: {'V734', 'F593'}
Missing variables in 2021-2022: {'V142', 'V178', 'V331', 'V319', 'V91', 'SUBSISTEMA_3', 'V330', 'V455', 'F593', 'V321', 'V337', 'V329', 'V328', 'V160', 'V166', 'V86', 'V311', 'V312', 'V172', 'V322', 'V313', 'V29', 'V24', 'V326', 'V341', 'V314', 'C_OBSERVACION', 'V457', 'V734', 'V324', 'V336', 'SUBSISTEMA_2', 'V332', 'V315', 'SUBSISTEMA_1', 'FECHA_ENTREGA', 'V318', 'V327', 'V456', 'V334', 'V323', 'V148', 'V454', 'V333', 'V335', 'V316', 'V325', 'V154', 'V320', 'V317'}
Missing variables in 2022-2023: {'C_OBSERVACION', 'V457', 'V454', 'V2', 'V455', 'F593', 'FECHA_ENTREGA', 'V456'}

**Additional Notes**
- The variable *F593* is only in file 'KI9119A_1920.csv'.
- The variable *C_OBSERVACION* is only in file 'KI9119A_2021.csv'.
- The variable *FECHA_ENTREGA* is only in files 'KI9119A_1920.csv' and 'KI9119A_2021.csv'.
- The file 'KI9119A_2122.csv' have multiple missing variables. For instance: *SUBSISTEMA_1*, *SUBSISTEMA_1*, *SUBSISTEMA_1*, etc.
- The variable *V734* is only in file 'KI9119A_2223.csv'.
- The file 'KI9119A_2223.csv' have multiple missing variables. For instance: *V2*, *V454*, *V455*, etc.

In [8]:
# Complete dataset
undergraduate = pd.concat(list_df_undergrad)

### Graduate Students

**Notes:**
- Files 'KI9119B_1920.csv', 'KI9119B_2021.csv' and 'KI9119B_2122.csv' are pipe separated.
- The file 'KI9119B_2223.csv' is comma separated and needs latin encoding.

In [9]:
# Initialize an empty list to store the dataframes
list_df_grad = []

# Iterate over the file names
for file in file_names_grad:
    # Read each file and add the year to a new column
    year = file.split("_")[1].split(".")[0]
    # The file for the year 22-23 is comma separated
    if year == '2223':
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets/graduate', file), sep=',', encoding='latin-1', low_memory=False)
    else:
        df = pd.read_csv(os.path.join('grad_and_undergrad/datasets/graduate', file), sep="|", low_memory=False)
   
    # New column for the academic year
    df['ACADEMIC_YEAR'] = year
    
    # Append the dataframe to the list
    list_df_grad.append(df)

In [10]:
# Create a dictionary to store the column names for each dataframe
df_names_grad = {}

for i in range(len(list_df_grad)):
    df_names_grad[file_names_grad[i]] = list(list_df_grad[i].columns)

# Create a list of unique variables 
variables_grad = set().union(*df_names_grad.values())

# Difference between all variables and the variables in the dataframes
missing_vars_1920 = variables_grad.difference(df_names_grad['KI9119B_1920.csv'])
missing_vars_2021 = variables_grad.difference(df_names_grad['KI9119B_2021.csv'])
missing_vars_2122 = variables_grad.difference(df_names_grad['KI9119B_2122.csv'])
missing_vars_2223 = variables_grad.difference(df_names_grad['KI9119B_2223.csv'])

# Print the missing variables
print(f"Missing variables in 2019-2020: {missing_vars_1920}")
print(f"Missing variables in 2020-2021: {missing_vars_2021}")
print(f"Missing variables in 2021-2022: {missing_vars_2122}")   
print(f"Missing variables in 2022-2023: {missing_vars_2223}")

Missing variables in 2019-2020: {'C_OBSERVACION', 'V276'}
Missing variables in 2020-2021: {'F322', 'V276'}
Missing variables in 2021-2022: {'V171', 'V183', 'V207', 'V178', 'V222', 'V257', 'V268', 'V159', 'V28', 'V131', 'SUBSISTEMA_3', 'V119', 'V162', 'V160', 'V202', 'V166', 'V161', 'V170', 'V169', 'V172', 'V232', 'V137', 'V125', 'V168', 'V180', 'F322', 'V182', 'V276', 'V270', 'V197', 'V227', 'C_OBSERVACION', 'V164', 'V187', 'V143', 'V177', 'V242', 'V50', 'V179', 'V192', 'SUBSISTEMA_2', 'V237', 'V158', 'V33', 'SUBSISTEMA_1', 'FECHA_ENTREGA', 'V174', 'V42', 'V271', 'V157', 'V163', 'V176', 'V217', 'V173', 'V212', 'V175', 'V269', 'V165', 'V181', 'V113', 'V167'}
Missing variables in 2022-2023: {'C_OBSERVACION', 'F322', 'V271', 'V269', 'V268', 'FECHA_ENTREGA', 'V270'}

**Aditional Notes**
- The variable *F322* is only in file 'KI9119B_1920.csv'.
- The variable *C_OBSERVACION* is only in file 'KI9119B_2021.csv'.
- The variable *FECHA_ENTREGA* is only in files 'KI9119B_1920.csv' and 'KI9119B_2021.csv'.
- The file 'KI9119B_2122.csv' have multiple missing variables. For instance: *SUBSISTEMA_1*, *SUBSISTEMA_1*, *SUBSISTEMA_1*, etc.
- The variable *V276* is only in file 'KI9119B_2223.csv'.
- The file 'KI9119B_2223.csv' have multiple missing variables. For instance: *V269*, *V270*, *V271*, etc.

In [11]:
# Complete dataset
graduate = pd.concat(list_df_grad)

## Exploratory Analysis

**Variable selection**

Institution ID: '14MMS0519C' for high school and '14MSU0044P' for undergraduate and graduate studies.

This selection was made based on the requirements of question 1.
 - High School: ACADEMIC_YEAR, CCT_INS_PLA, C_MODALIDAD, V13-V19, V49-V51, V265, V268, V880-V912, V958-V960, V968, V969.
 - Undergraduate: ACADEMIC_YEAR, CCT_INS_PLA, C_MODALIDAD, NOMBRE_CT, V1-V4, V11-V15, V60, V61, V82, V85, V175-V177, V454-V456, V458.
 - Graduate: ACADEMIC_YEAR, CCT_INS_PLA, C_MODALIDAD, C_NOM_CARRERA, V10-V15, V38, V41, V140-V142, V268 - V271, V274, V274.

In [38]:
# Filtered datasets

var_hs_profile = ['ACADEMIC_YEAR', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'C_MODALIDAD', 'V13', 'V14', 'V15', 'V16', 
                  'V17', 'V18', 'V19', 'V49', 'V50', 'V51', 'V265', 'V268', 'V958', 'V959', 
                  'V960', 'V968', 'V969', 'V397', 'V878', 'V879']

var_undergrad_profile = ['ACADEMIC_YEAR', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA', 
                         'C_MODALIDAD', 'V1', 'V2', 'V3', 'V4', 'V11', 'V12', 'V13', 'V14', 'V15', 'V60',  
                         'V61', 'V82', 'V85', 'V175', 'V176', 'V177', 'V454', 'V455', 'V456', 'V458', 'V495']

var_grad_profile = ['ACADEMIC_YEAR', 'CCT_INS_PLA', 'NOMBRE_INS_PLA', 'NOMBRECT', 'C_NOM_CARRERA', 
                    'C_MODALIDAD', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V38', 'V41', 'V140',  
                    'V141', 'V142', 'V156', 'V268', 'V269', 'V270', 'V271', 'V274']


# Filter and select variables for High School dataset
high_school_profile = high_school[high_school['CCT_INS_PLA'] == '14MMS0519C'][var_hs_profile]

# Filter and select variables for Undergraduate dataset
undergraduate_profile = undergraduate[undergraduate['CCT_INS_PLA'] == '14MSU0044P'][var_undergrad_profile]

# Filter and select variables for Graduate dataset
graduate_profile = graduate[graduate['CCT_INS_PLA'] == '14MSU0044P'][var_grad_profile]

### Number of enrolled students

#### High School

In [34]:
# High School: Here we have serveral options, V51, V397 and V878 + V879. 
high_school_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V51', 'V397', 'V878', 'V879']]

      ACADEMIC_YEAR   C_MODALIDAD    V51   V397   V878   V879
7410           2122  ESCOLARIZADA    0.0  192.0   90.0  102.0
14858          1920         MIXTA   69.0   69.0   33.0   36.0
6671           2223  ESCOLARIZADA  177.0  394.0  185.0  209.0
6844           2021         MIXTA    0.0    0.0    0.0    0.0

In [35]:
# V51 differs form the other options and is incomplete. I will keep V397 as is the same as V878 + V879.
n_hs_students = high_school_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V397']].groupby(['ACADEMIC_YEAR', 'C_MODALIDAD']).agg({'V397': 'sum'}).reset_index()
n_hs_students.rename(columns={'V397': 'N_STUDENTS'}, inplace=True)
n_hs_students

  ACADEMIC_YEAR   C_MODALIDAD  N_STUDENTS
0          1920         MIXTA        69.0
1          2021         MIXTA         0.0
2          2122  ESCOLARIZADA       192.0
3          2223  ESCOLARIZADA       394.0

#### Undergraduate

In [36]:
# Undergraduate: Here we have V177 or V495. 
undergraduate_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V177', 'V495']]

      ACADEMIC_YEAR   C_MODALIDAD  V177  V495
10809          2122         MIXTA    97    97
10810          2122  ESCOLARIZADA   362   362
10811          2122  ESCOLARIZADA     2     2
10812          2122  ESCOLARIZADA   191   191
10813          2122  ESCOLARIZADA   108   108
...             ...           ...   ...   ...
25258          1920  ESCOLARIZADA   550   550
25259          1920  ESCOLARIZADA   145   145
25260          1920  ESCOLARIZADA   949   949
25261          1920  ESCOLARIZADA   368   368
34389          1920  ESCOLARIZADA    66    66

[172 rows x 4 columns]

In [37]:
# I will keep V177 as both have same information.
n_undergrad_students = undergraduate_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V177']].groupby(['ACADEMIC_YEAR', 'C_MODALIDAD']).agg({'V177': 'sum'}).reset_index()
n_undergrad_students.rename(columns={'V177': 'N_STUDENTS'}, inplace=True)
n_undergrad_students

  ACADEMIC_YEAR   C_MODALIDAD  N_STUDENTS
0          1920  ESCOLARIZADA        8440
1          1920         MIXTA        1622
2          2021  ESCOLARIZADA        8421
3          2021         MIXTA        1478
4          2122  ESCOLARIZADA        8312
5          2122         MIXTA        1479
6          2223  ESCOLARIZADA        8646
7          2223         MIXTA        1474

#### Graduates

In [41]:
# Graduate: Here we have V142 or V156. 
graduate_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V142', 'V156']]

      ACADEMIC_YEAR   C_MODALIDAD  V142  V156
7487           2122         MIXTA     2     2
7488           2122         MIXTA     0     0
7489           2122         MIXTA    14    14
7490           2122  ESCOLARIZADA    39    39
7491           2122  ESCOLARIZADA    37    37
...             ...           ...   ...   ...
12153          2223  ESCOLARIZADA    14    14
12154          2223  ESCOLARIZADA    15    15
12155          2223  ESCOLARIZADA    15    15
14372          2223  ESCOLARIZADA     7     7
16363          2223  ESCOLARIZADA    45    45

[127 rows x 4 columns]

In [44]:
# I will keep V142 as both have the same information.
n_grad_students = graduate_profile[['ACADEMIC_YEAR', 'C_MODALIDAD', 'V142']].groupby(['ACADEMIC_YEAR', 'C_MODALIDAD']).agg({'V142': 'sum'}).reset_index()
n_grad_students.rename(columns={'V142': 'N_STUDENTS'}, inplace=True)
n_grad_students

  ACADEMIC_YEAR      C_MODALIDAD  N_STUDENTS
0          1920     ESCOLARIZADA         773
1          1920            MIXTA          93
2          1920  NO ESCOLARIZADA           0
3          2021     ESCOLARIZADA         748
4          2021            MIXTA          65
5          2021  NO ESCOLARIZADA           0
6          2122     ESCOLARIZADA         727
7          2122            MIXTA          27
8          2223     ESCOLARIZADA         686
9          2223            MIXTA          18

### Most significant degrees or faculties

#### Undergraduate

In [53]:
# Number of students by faculty
ugrad_nstud_by_depto = undergraduate_profile.groupby(['ACADEMIC_YEAR', 'NOMBRECT']).agg({'V177': 'sum'}).reset_index()
ugrad_nstud_by_depto['NOMBRECT'] = ugrad_nstud_by_depto['NOMBRECT'].str.replace('DEPARTAMENTO DE ', '').str.replace('DEPTO DE ', '')
ugrad_nstud_by_depto.rename(columns={'NOMBRECT': 'DEPTO', 'V177': 'N_STUDENTS'}, inplace=True)
ugrad_nstud_by_depto

   ACADEMIC_YEAR                                   DEPTO  N_STUDENTS
0           1920  ECONOMIA ADMINISTRACION Y MERCADOLOGIA        2743
1           1920     ESTUDIOS SOCIOPOLITICOS Y JURIDICOS         782
2           1920                    MATEMATICAS Y FISICA         522
3           1920    PROCESOS TECNOLOGICOS E INDUSTRIALES        1382
4           1920            PSICOLOGIA EDUCACION Y SALUD         747
5           1920      ELECTRONICA SISTEMAS E INFORMATICA         733
6           1920               ESTUDIOS SOCIO CULTURALES        1059
7           1920                 FILOSOFIA Y HUMANIDADES          66
8           1920             HABITAT Y DESARROLLO URBANO        2028
9           2021  ECONOMIA ADMINISTRACION Y MERCADOLOGIA        2618
10          2021     ESTUDIOS SOCIOPOLITICOS Y JURIDICOS         779
11          2021                    MATEMATICAS Y FISICA         546
12          2021    PROCESOS TECNOLOGICOS E INDUSTRIALES        1347
13          2021            PSICOLOGIA EDUCACION Y SALUD         765
14          2021      ELECTRONICA SISTEMAS E INFORMATICA         732
15          2021               ESTUDIOS SOCIO CULTURALES        1051
16          2021                 FILOSOFIA Y HUMANIDADES          68
17          2021             HABITAT Y DESARROLLO URBANO        1993
18          2122  ECONOMIA ADMINISTRACION Y MERCADOLOGIA        2475
19          2122     ESTUDIOS SOCIOPOLITICOS Y JURIDICOS         743
20          2122                    MATEMATICAS Y FISICA         559
21          2122    PROCESOS TECNOLOGICOS E INDUSTRIALES        1358
22          2122            PSICOLOGIA EDUCACION Y SALUD         744
23          2122      ELECTRONICA SISTEMAS E INFORMATICA         760
24          2122               ESTUDIOS SOCIO CULTURALES         984
25          2122                 FILOSOFIA Y HUMANIDADES          75
26          2122             HABITAT Y DESARROLLO URBANO        2093
27          2223  ECONOMIA ADMINISTRACION Y MERCADOLOGIA        2742
28          2223     ESTUDIOS SOCIOPOLITICOS Y JURIDICOS         616
29          2223                    MATEMATICAS Y FISICA         587
30          2223    PROCESOS TECNOLOGICOS E INDUSTRIALES        1374
31          2223            PSICOLOGIA EDUCACION Y SALUD         772
32          2223      ELECTRONICA SISTEMAS E INFORMATICA         783
33          2223               ESTUDIOS SOCIO CULTURALES         948
34          2223                 FILOSOFIA Y HUMANIDADES          69
35          2223             HABITAT Y DESARROLLO URBANO        2229

In [48]:
# Number of students by degree
ugrad_nstud_by_degree = undergraduate_profile.groupby(['ACADEMIC_YEAR', 'C_NOM_CARRERA']).agg({'V177': 'sum'}).reset_index()
ugrad_nstud_by_degree.rename(columns={'V177': 'N_STUDENTS'}, inplace=True)
ugrad_nstud_by_degree

,ACADEMIC_YEAR,C_NOM_CARRERA,N_STUDENTS
0,1920,ARQUITECTO,949
1,1920,INGENIERIA EN SEGURIDAD INFORMATICA Y REDES,90
2,1920,INGENIERÍA AMBIENTAL,146
3,1920,INGENIERÍA CIVIL,368
4,1920,INGENIERÍA EN ALIMENTOS,76
...,...,...,...
166,2223,LICENCIATURA EN PSICOLOGÍA,550
167,2223,LICENCIATURA EN PUBLICIDAD Y COMUNICACIÓN ESTR...,186
168,2223,LICENCIATURA EN RECURSOS HUMANOS Y TALENTO ORG...,44
169,2223,LICENCIATURA EN RELACIONES INDUSTRIALES,40
170,2223,LICENCIATURA EN RELACIONES INTERNACIONALES,211

#### Graduate

In [54]:
# Number of students by faculty
grad_nstud_by_depto = graduate_profile.groupby(['ACADEMIC_YEAR', 'NOMBRECT']).agg({'V142': 'sum'}).reset_index()
grad_nstud_by_depto['NOMBRECT'] = grad_nstud_by_depto['NOMBRECT'].str.replace('DEPARTAMENTO DE ', '').str.replace('DEPTO DE ', '')
grad_nstud_by_depto.rename(columns={'NOMBRECT': 'DEPTO', 'V142': 'N_STUDENTS'}, inplace=True)
grad_nstud_by_depto

   ACADEMIC_YEAR                                   DEPTO  N_STUDENTS
0           1920  ECONOMIA ADMINISTRACION Y MERCADOLOGIA         240
1           1920     ESTUDIOS SOCIOPOLITICOS Y JURIDICOS          90
2           1920                    MATEMATICAS Y FISICA          20
3           1920    PROCESOS TECNOLOGICOS E INDUSTRIALES          53
4           1920            PSICOLOGIA EDUCACION Y SALUD         177
5           1920      ELECTRONICA SISTEMAS E INFORMATICA         197
6           1920               ESTUDIOS SOCIO CULTURALES          16
7           1920                 FILOSOFIA Y HUMANIDADES          34
8           1920             HABITAT Y DESARROLLO URBANO          39
9           2021                       CENTRO DE LENGUAS           0
10          2021  ECONOMIA ADMINISTRACION Y MERCADOLOGIA         190
11          2021     ESTUDIOS SOCIOPOLITICOS Y JURIDICOS          81
12          2021                    MATEMATICAS Y FISICA          44
13          2021    PROCESOS TECNOLOGICOS E INDUSTRIALES          59
14          2021            PSICOLOGIA EDUCACION Y SALUD         154
15          2021      ELECTRONICA SISTEMAS E INFORMATICA         194
16          2021               ESTUDIOS SOCIO CULTURALES          11
17          2021                 FILOSOFIA Y HUMANIDADES          34
18          2021             HABITAT Y DESARROLLO URBANO          46
19          2122                       CENTRO DE LENGUAS           0
20          2122  ECONOMIA ADMINISTRACION Y MERCADOLOGIA         135
21          2122     ESTUDIOS SOCIOPOLITICOS Y JURIDICOS          76
22          2122                    MATEMATICAS Y FISICA          58
23          2122    PROCESOS TECNOLOGICOS E INDUSTRIALES          43
24          2122            PSICOLOGIA EDUCACION Y SALUD         176
25          2122      ELECTRONICA SISTEMAS E INFORMATICA         167
26          2122               ESTUDIOS SOCIO CULTURALES          18
27          2122                 FILOSOFIA Y HUMANIDADES          37
28          2122             HABITAT Y DESARROLLO URBANO          44
29          2223                       CENTRO DE LENGUAS           0
30          2223  ECONOMIA ADMINISTRACION Y MERCADOLOGIA         129
31          2223     ESTUDIOS SOCIOPOLITICOS Y JURIDICOS          53
32          2223                    MATEMATICAS Y FISICA          75
33          2223    PROCESOS TECNOLOGICOS E INDUSTRIALES          28
34          2223            PSICOLOGIA EDUCACION Y SALUD         169
35          2223      ELECTRONICA SISTEMAS E INFORMATICA         142
36          2223               ESTUDIOS SOCIO CULTURALES          12
37          2223                 FILOSOFIA Y HUMANIDADES          45
38          2223             HABITAT Y DESARROLLO URBANO          51

In [50]:
# Number of students by degree
grad_nstud_by_degree = graduate_profile.groupby(['ACADEMIC_YEAR', 'C_NOM_CARRERA']).agg({'V142': 'sum'}).reset_index()
grad_nstud_by_degree.rename(columns={'V142': 'N_STUDENTS'}, inplace=True)
grad_nstud_by_degree

    ACADEMIC_YEAR                                    C_NOM_CARRERA  N_STUDENTS
0            1920           DOCTORADO EN CIENCIAS DE LA INGENIERÍA          23
1            1920     DOCTORADO EN ESTUDIOS CIENTÍFICOS - SOCIALES          14
2            1920           DOCTORADO EN INVESTIGACIÓN PSICOLÓGICA          10
3            1920        DOCTORADO INTERINSTITUCIONAL EN EDUCACIÓN          13
4            1920      DOCTORADO INTERNACIONAL EN BIENESTAR SOCIAL           0
..            ...                                              ...         ...
121          2223        MAESTRÍA EN POLÍTICA Y ANALÍTICA PÚBLICAS           9
122          2223           MAESTRÍA EN POLÍTICA Y GESTIÓN PÚBLICA           2
123          2223  MAESTRÍA EN PROYECTOS Y EDIFICACIÓN SUSTENTABLE          15
124          2223                         MAESTRÍA EN PSICOTERAPIA          64
125          2223             MAESTRÍA EN SISTEMAS COMPUTACIONALES          31

[126 rows x 3 columns]